In [1]:

from tabulate import tabulate
import pandas as pd
   #
pd.set_option("display.width", 480)

print("--")

--

In [2]:

from katana import remote
from katana.remote import analytics

my_client = remote.Client()

print(my_client)

<katana_enterprise.remote.sync_wrappers.Client object at 0x7efc2872f3a0>

In [3]:
NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"


l_cntr = 20


print("--")

--

In [4]:
#  CONNECT TO GRAPH

for l_graph in my_client.get_database(name=DB_NAME).graphs_in_database():
   if (l_graph.name == GRAPH_NAME):
      my_graph=my_client.get_database(name=DB_NAME).get_graph_by_id(id=l_graph.graph_id)
         #
      break

print(my_graph)

<_Graph my_graph, 2LXi8ZhtkJHsZ7D8jrZBh4NcRvPuTP2CXvkHaah7Gw2i, 2>

In [ ]:
######################################################

In [5]:

#  graph.project() is used to create a homogenous group, from a heterogeneous one,
#  necessary to support some analytics
#
#  Here we'll add stuff to the graph to make it heterogeneous.


l_query = """
   CREATE ( n: Restaurant { restaurant_code: 'PAP' } )               //  Notice single curly braces
   SET n.restaurant_name = 'Pappadeauxs Seafood Kitchen' 
   """
      #
display(l_result1 = my_graph.query(l_query))

l_query = """
   MATCH
      (n: Airport   ),
      (m: Restaurant)
   WHERE n.airport_code     = 'SJC'
   AND   m.restaurant_code  = 'PAP'
   CREATE (n) -[r: ATTRACTION { DRIVABLE: 'Yes' }]-> (m)
   """
      #
display(l_result2 = my_graph.query(l_query))

          0/? [?op/s]

          0/? [?op/s]

In [6]:

l_result1 = my_graph.query(
   """
   MATCH (n) 
   RETURN n
   """ )
print(tabulate(l_result1, headers='keys', tablefmt='psql'))

l_result2 = my_graph.query(
   """
   MATCH (n) - [r] -> (m)
   RETURN r
   """ )
print(tabulate(l_result2, headers='keys', tablefmt='psql'))

          0/? [?op/s]

+----+-----------------+----------------+-----------+------------------+------------------+----------+---------------------+-----------------------------+
|    |   n.internal_id | n.labels       | n.LABEL   | n.airport_code   | n.airport_name   | n.type   | n.restaurant_code   | n.restaurant_name           |
|----+-----------------+----------------+-----------+------------------+------------------+----------+---------------------+-----------------------------|
|  0 |               0 | ['Airport']    | Airport   | DEN              | Denver           | node     | nan                 | nan                         |
|  1 | 281474976710656 | ['Airport']    | Airport   | MKE              | Milwaukee        | node     | nan                 | nan                         |
|  2 | 562949953421312 | ['Airport']    | Airport   | ORD              | Chicago O-Hare   | node     | nan                 | nan                         |
|  3 | 562949953421314 | ['Restaurant'] | nan       | nan              | nan              | node     | PAP                 | Pappadeauxs Seafood Kitchen |
|  4 | 562949953421313 | ['Airport']    | Airport   | SJC              | San Jose         | node     | nan                 | nan                         |
+----+-----------------+----------------+-----------+------------------+------------------+----------+---------------------+-----------------------------+

          0/? [?op/s]

+----+-----------------+----------------+-----------------+------------+--------------+--------------+----------+-----------------+------------------+----------+--------------+
|    |        r.end.id | r.end.labels   |   r.internal_id | r.label    |   r.DISTANCE |   r.NUM_HOPS | r.TYPE   |      r.start.id | r.start.labels   | r.type   | r.DRIVABLE   |
|----+-----------------+----------------+-----------------+------------+--------------+--------------+----------+-----------------+------------------+----------+--------------|
|  0 | 562949953421313 | ['Airport']    |               0 | FLIES_TO   |          948 |            1 | FLIES_TO |               0 | ['Airport']      | edge     | nan          |
|  1 | 562949953421312 | ['Airport']    |               1 | FLIES_TO   |          886 |            1 | FLIES_TO |               0 | ['Airport']      | edge     | nan          |
|  2 | 562949953421312 | ['Airport']    | 281474976710656 | FLIES_TO   |           66 |            1 | FLIES_TO | 281474976710656 | ['Airport']      | edge     | nan          |
|  3 |               0 | ['Airport']    | 562949953421313 | FLIES_TO   |          886 |            1 | FLIES_TO | 562949953421312 | ['Airport']      | edge     | nan          |
|  4 | 281474976710656 | ['Airport']    | 562949953421315 | FLIES_TO   |           66 |            1 | FLIES_TO | 562949953421312 | ['Airport']      | edge     | nan          |
|  5 | 562949953421312 | ['Airport']    | 562949953421312 | FLIES_TO   |         1829 |            1 | FLIES_TO | 562949953421313 | ['Airport']      | edge     | nan          |
|  6 |               0 | ['Airport']    | 562949953421314 | FLIES_TO   |          948 |            1 | FLIES_TO | 562949953421313 | ['Airport']      | edge     | nan          |
|  7 | 562949953421314 | ['Restaurant'] | 562949953421316 | ATTRACTION |          nan |          nan | nan      | 562949953421313 | ['Airport']      | edge     | Yes          |
+----+-----------------+----------------+-----------------+------------+--------------+--------------+----------+-----------------+------------------+----------+--------------+

In [ ]:
######################################################

In [7]:

my_projection = my_graph.project(node_types=['Airport'], edge_types=['FLIES_TO'])

print("--")

--

In [ ]:


l_result1 = my_projection.query(
   """
   MATCH (n) 
   RETURN n
   """ )
print(tabulate(l_result1, headers='keys', tablefmt='psql'))

l_result2 = my_projection.query(
   """
   MATCH (n) - [r] -> (m)
   RETURN r
   """ )
print(tabulate(l_result2, headers='keys', tablefmt='psql'))

#     OperationError: HaMw4a3njMMSvgQSnd2RL7r15TaavDnSvm1JePSRUjnh-5YoXGVdvYnT1L1qB5 Projected views are not supported for query operation yet. (QueryOperation.cpp:27): not implemented: not implemented

In [8]:

#  Generate a unique prop name so we can run this over and over without edit ..
#
l_cntr += 1
   #
l_output_propname     = "betweenness_" + str(l_cntr).zfill(4)


l_result = analytics.betweenness_centrality(my_projection, result_property_name=l_output_propname, num_sources=1000)

print(l_result)

          0/? [?op/s]

None

In [9]:

l_result1 = my_graph.query(
   """
   MATCH (n) 
   RETURN n
   """ )
print(tabulate(l_result1, headers='keys', tablefmt='psql'))

l_result2 = my_graph.query(
   """
   MATCH (n) - [r] -> (m)
   RETURN r
   """ )
print(tabulate(l_result2, headers='keys', tablefmt='psql'))


#  Sample output,
#
#     +----+-----------------+----------------+-----------+------------------+------------------+----------------------+----------+---------------------+-----------------------------+
#     |    |   n.internal_id | n.labels       | n.LABEL   | n.airport_code   | n.airport_name   |   n.betweenness_0022 | n.type   | n.restaurant_code   | n.restaurant_name           |
#     |----+-----------------+----------------+-----------+------------------+------------------+----------------------+----------+---------------------+-----------------------------|
#     |  0 |               0 | ['Airport']    | Airport   | ORD              | Chicago O-Hare   |                    4 | node     | nan                 | nan                         |
#     |  1 |               1 | ['Airport']    | Airport   | DEN              | Denver           |                    2 | node     | nan                 | nan                         |
#     |  2 | 281474976710657 | ['Restaurant'] | nan       | nan              | nan              |                  nan | node     | PAP                 | Pappadeauxs Seafood Kitchen |
#     |  3 | 281474976710656 | ['Airport']    | Airport   | SJC              | San Jose         |                    0 | node     | nan                 | nan                         |
#     |  4 | 562949953421312 | ['Airport']    | Airport   | MKE              | Milwaukee        |                    0 | node     | nan                 | nan                         |
#     +----+-----------------+----------------+-----------+------------------+------------------+----------------------+----------+---------------------+-----------------------------+
#     
#     +----+-----------------+----------------+-----------------+------------+--------------+--------------+----------+-----------------+------------------+----------+--------------+
#     |    |        r.end.id | r.end.labels   |   r.internal_id | r.label    |   r.DISTANCE |   r.NUM_HOPS | r.TYPE   |      r.start.id | r.start.labels   | r.type   | r.DRIVABLE   |
#     |----+-----------------+----------------+-----------------+------------+--------------+--------------+----------+-----------------+------------------+----------+--------------|
#     |  0 |               1 | ['Airport']    |               1 | FLIES_TO   |          886 |            1 | FLIES_TO |               0 | ['Airport']      | edge     | nan          |
#     |  1 | 562949953421312 | ['Airport']    |               3 | FLIES_TO   |           66 |            1 | FLIES_TO |               0 | ['Airport']      | edge     | nan          |
#     |  2 |               0 | ['Airport']    |               0 | FLIES_TO   |          886 |            1 | FLIES_TO |               1 | ['Airport']      | edge     | nan          |
#     |  3 | 281474976710656 | ['Airport']    |               2 | FLIES_TO   |          948 |            1 | FLIES_TO |               1 | ['Airport']      | edge     | nan          |
#     |  4 |               0 | ['Airport']    | 281474976710656 | FLIES_TO   |         1829 |            1 | FLIES_TO | 281474976710656 | ['Airport']      | edge     | nan          |
#     |  5 |               1 | ['Airport']    | 281474976710657 | FLIES_TO   |          948 |            1 | FLIES_TO | 281474976710656 | ['Airport']      | edge     | nan          |
#     |  6 | 281474976710657 | ['Restaurant'] | 281474976710658 | ATTRACTION |          nan |          nan | nan      | 281474976710656 | ['Airport']      | edge     | Yes          |
#     |  7 |               0 | ['Airport']    | 562949953421312 | FLIES_TO   |           66 |            1 | FLIES_TO | 562949953421312 | ['Airport']      | edge     | nan          |
#     +----+-----------------+----------------+-----------------+------------+--------------+--------------+----------+-----------------+------------------+----------+--------------+

          0/? [?op/s]

+----+-----------------+----------------+-----------+------------------+------------------+----------------------+----------+---------------------+-----------------------------+
|    |   n.internal_id | n.labels       | n.LABEL   | n.airport_code   | n.airport_name   |   n.betweenness_0021 | n.type   | n.restaurant_code   | n.restaurant_name           |
|----+-----------------+----------------+-----------+------------------+------------------+----------------------+----------+---------------------+-----------------------------|
|  0 |               0 | ['Airport']    | Airport   | DEN              | Denver           |                    2 | node     | nan                 | nan                         |
|  1 | 281474976710656 | ['Airport']    | Airport   | MKE              | Milwaukee        |                    0 | node     | nan                 | nan                         |
|  2 | 562949953421312 | ['Airport']    | Airport   | ORD              | Chicago O-Hare   |                    4 | node     | nan                 | nan                         |
|  3 | 562949953421314 | ['Restaurant'] | nan       | nan              | nan              |                  nan | node     | PAP                 | Pappadeauxs Seafood Kitchen |
|  4 | 562949953421313 | ['Airport']    | Airport   | SJC              | San Jose         |                    0 | node     | nan                 | nan                         |
+----+-----------------+----------------+-----------+------------------+------------------+----------------------+----------+---------------------+-----------------------------+

          0/? [?op/s]

+----+-----------------+----------------+-----------------+------------+--------------+--------------+----------+-----------------+------------------+----------+--------------+
|    |        r.end.id | r.end.labels   |   r.internal_id | r.label    |   r.DISTANCE |   r.NUM_HOPS | r.TYPE   |      r.start.id | r.start.labels   | r.type   | r.DRIVABLE   |
|----+-----------------+----------------+-----------------+------------+--------------+--------------+----------+-----------------+------------------+----------+--------------|
|  0 | 562949953421313 | ['Airport']    |               0 | FLIES_TO   |          948 |            1 | FLIES_TO |               0 | ['Airport']      | edge     | nan          |
|  1 | 562949953421312 | ['Airport']    |               1 | FLIES_TO   |          886 |            1 | FLIES_TO |               0 | ['Airport']      | edge     | nan          |
|  2 | 562949953421312 | ['Airport']    | 281474976710656 | FLIES_TO   |           66 |            1 | FLIES_TO | 281474976710656 | ['Airport']      | edge     | nan          |
|  3 | 562949953421312 | ['Airport']    | 562949953421312 | FLIES_TO   |         1829 |            1 | FLIES_TO | 562949953421313 | ['Airport']      | edge     | nan          |
|  4 |               0 | ['Airport']    | 562949953421314 | FLIES_TO   |          948 |            1 | FLIES_TO | 562949953421313 | ['Airport']      | edge     | nan          |
|  5 | 562949953421314 | ['Restaurant'] | 562949953421316 | ATTRACTION |          nan |          nan | nan      | 562949953421313 | ['Airport']      | edge     | Yes          |
|  6 |               0 | ['Airport']    | 562949953421313 | FLIES_TO   |          886 |            1 | FLIES_TO | 562949953421312 | ['Airport']      | edge     | nan          |
|  7 | 281474976710656 | ['Airport']    | 562949953421315 | FLIES_TO   |           66 |            1 | FLIES_TO | 562949953421312 | ['Airport']      | edge     | nan          |
+----+-----------------+----------------+-----------------+------------+--------------+--------------+----------+-----------------+------------------+----------+--------------+

In [10]:

l_result = my_graph.query(f"""
    MATCH (n) - [r] -> (m)
    RETURN n, r, m
    """, contextualize=True)

l_result.view()

          0/? [?op/s]

          0/? [?op/s]

VBox(children=(HTML(value='\n                <style>\n                #jp-main-content-panel .widget-containerâ€¦