#  Setup stuff: Display options

In [1]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate

print("--")

--

#  Setup stuff: Connectivity

In [ ]:

#  from katana import remote
#  from katana.remote import import_data
#  
#  
#  my_client = remote.Client()
#  
#  print(my_client)

# Create: Vertices/Nodes, Edges/Relationships ..

In [2]:

# import pandas as pd
# 
import dask.dataframe as dd
from dask.dataframe import from_pandas

import numpy as np

print("--")

--

In [3]:

NUM_PARTITIONS  = 3
   #
#  DB_NAME         = "my_db"
#  GRAPH_NAME      = "my_graph"

print("--")

--

In [5]:

#  Create Nodes data ..
#

np_nodes = np.array([
       #
   ["MKE", "Milwaukee"     , "WI"   , None            , "Airport"   ],
   ["ORD", "Chicago O-Hare", "IL"   , None            , "Airport"   ],
   ["SJC", "San Jose"      , "CA"   , None            , "Airport"   ],
   ["LAX", "Los Angeles"   , "CA"   , None            , "Airport"   ],
   ["DEN", "Denver"        , "CO"   , None            , "Airport"   ],
   ["PAP", None            , None   , "Pappadeauxs"   , "Restaurant"],
       #
   ], dtype="str")

pd_nodes = pd.DataFrame(np_nodes, columns = ["id", "airport_name", "state_code", "restaurant_name", "LABEL"])
   #
dd_nodes = from_pandas(pd_nodes, npartitions = NUM_PARTITIONS)


#  tabulate() not displaying data correctly, use print ..
#
print(dd_nodes.compute())
   #
print("--")

    id    airport_name state_code restaurant_name       LABEL
0  MKE       Milwaukee         WI            None     Airport
1  ORD  Chicago O-Hare         IL            None     Airport
2  SJC        San Jose         CA            None     Airport
3  LAX     Los Angeles         CA            None     Airport
4  DEN          Denver         CO            None     Airport
5  PAP            None       None     Pappadeauxs  Restaurant
--

In [43]:

#  Create the Edge array ..

np_edges = pd.DataFrame([
      #
   ["MKE", "ORD",   66, 1, "FLIES_TO" ],
   ["ORD", "MKE",   66, 1, "FLIES_TO" ],
      #
   ["ORD", "DEN",  886, 1, "FLIES_TO" ],
   ["DEN", "ORD",  886, 1, "FLIES_TO" ],
      #
   ["SJC", "DEN",  948, 1, "FLIES_TO" ],
   ["DEN", "SJC",  948, 1, "FLIES_TO" ],
      #
   ["SJC", "ORD", 1829, 1, "FLIES_TO" ],
      #
   ], dtype="str")
    
pd_edges = pd.DataFrame(np_edges, columns = ["START_ID", "END_ID", "DISTANCE", "NUM_HOPS", "TYPE"])

print(tabulate(pd_edges, headers='keys', tablefmt='psql'))

+----+------------+----------+------------+------------+--------+
|    |   START_ID |   END_ID |   DISTANCE |   NUM_HOPS |   TYPE |
|----+------------+----------+------------+------------+--------|
|  0 |        nan |      nan |        nan |        nan |    nan |
|  1 |        nan |      nan |        nan |        nan |    nan |
|  2 |        nan |      nan |        nan |        nan |    nan |
|  3 |        nan |      nan |        nan |        nan |    nan |
|  4 |        nan |      nan |        nan |        nan |    nan |
|  5 |        nan |      nan |        nan |        nan |    nan |
|  6 |        nan |      nan |        nan |        nan |    nan |
+----+------------+----------+------------+------------+--------+

In [ ]:

#  Used to test heterogeneous graphs ..

l_query = """
   CREATE ( n: Restaurant { id: 'PAP' } )                         //  Notice single curly braces
   SET n.restaurant_name = 'Pappadeauxs Seafood Kitchen' 
   """
      #
display(l_result = my_graph.query(l_query))

l_query = """
   MATCH
      (n: Airport   ),
      (m: Restaurant)
   WHERE n.id               = 'SJC'
   AND   m.id               = 'PAP'
   CREATE (n) -[r: ATTRACTION { DRIVABLE: 'Yes' }]-> (m)
   """
      #
display(l_result = my_graph.query(l_query))

#  From Dask Book