#  Setup stuff: Display options

In [ ]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate

print("--")

#  Setup stuff: Connectivity

In [ ]:

#  from katana import remote
#  from katana.remote import import_data
#  
#  
#  my_client = remote.Client()
#  
#  print(my_client)

# Create: Vertices/Nodes, Edges/Relationships ..

In [ ]:

# import pandas as pd
# 
import dask.dataframe as dd
from dask.dataframe import from_pandas

import numpy as np

print("--")

In [ ]:

NUM_PARTITIONS  = 3
   #
#  DB_NAME         = "my_db"
#  GRAPH_NAME      = "my_graph"

print("--")

In [ ]:

#  Create Nodes data ..
#

np_nodes = np.array([
       #
   ["MKE", "Milwaukee"     , "WI"   , None            , "Airport"   ],
   ["ORD", "Chicago O-Hare", "IL"   , None            , "Airport"   ],
   ["SJC", "San Jose"      , "CA"   , None            , "Airport"   ],
   ["LAX", "Los Angeles"   , "CA"   , None            , "Airport"   ],
   ["DEN", "Denver"        , "CO"   , None            , "Airport"   ],
   ["PAP", None            , None   , "Pappadeauxs"   , "Restaurant"],
       #
   ], dtype="str")

pd_nodes = pd.DataFrame(np_nodes, columns = ["id", "airport_name", "state_code", "restaurant_name", "LABEL"])
   #
dd_nodes = from_pandas(pd_nodes, npartitions = NUM_PARTITIONS)


#  tabulate() not displaying data correctly, use print ..
#
print(dd_nodes.compute())
   #
print("--")

In [ ]:

#  Create the Edge data ..
#

np_edges = np.array([
      #
   ["MKE", "ORD",     66,    1, None      , "FLIES_TO"  ],
   ["ORD", "MKE",     66,    1, None      , "FLIES_TO"  ],
      #
   ["ORD", "DEN",    886,    1, None      , "FLIES_TO"  ],
   ["DEN", "ORD",    886,    1, None      , "FLIES_TO"  ],
      #
   ["SJC", "DEN",    948,    1, None      , "FLIES_TO"  ],
   ["DEN", "SJC",    948,    1, None      , "FLIES_TO"  ],
      #
   ["SJC", "ORD",   1829,    1, None      , "FLIES_TO"  ],
      #
   ["SJC", "PAP",   None, None, True      , "ATTRACTION"],
      #
   ], dtype="str")
    
pd_edges = pd.DataFrame(np_edges, columns = ["START_ID", "END_ID", "DISTANCE", "NUM_HOPS", "DRIVABLE", "TYPE"])
   #
dd_edges = from_pandas(pd_edges, npartitions = NUM_PARTITIONS)


#  tabulate() not displaying data correctly, use print ..
#
print(dd_edges.compute())
   #
print("--")

#  From Dask Book

In [15]:

#  Check for missing/Null values ..
#

l_missingdata = ( dd_nodes.isnull().sum() / dd_nodes.index.size * 100).compute()
   #
print(l_missingdata)

#  Sample output,
#
#     id                 0.0
#     airport_name       0.0
#     state_code         0.0
#     restaurant_name    0.0
#     LABEL              0.0
#     dtype: float64

id                 0.0
airport_name       0.0
state_code         0.0
restaurant_name    0.0
LABEL              0.0
dtype: float64

In [19]:

dd_nodes.isna().compute()

      id  airport_name  state_code  restaurant_name  LABEL
0  False         False       False            False  False
1  False         False       False            False  False
2  False         False       False            False  False
3  False         False       False            False  False
4  False         False       False            False  False
5  False         False       False            False  False