#  Setup stuff: Display options

In [ ]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate

print("--")

#  Setup stuff: Connectivity

In [ ]:

#  from katana import remote
#  from katana.remote import import_data
#  
#  
#  my_client = remote.Client()
#  
#  print(my_client)

# Create: Vertices/nodes, edges ..

In [ ]:

# import pandas as pd
# 
import dask.dataframe as dd
from dask.dataframe import from_pandas

import numpy as np

print("--")

In [ ]:

NUM_PARTITIONS  = 3
   #
#  DB_NAME         = "my_db"
#  GRAPH_NAME      = "my_graph"

print("--")

In [25]:

#  Create the Nodes array ..
#

np_nodes = np.array([
       #
   ["MKE", "Milwaukee"        , "WI"   , None                 , "Airport"    ],
   ["ORD", "Chicago O-Hare"   , "IL"   , None                 , "Airport"    ],
   ["SJC", "San Jose"         , "CA"   , None                 , "Airport"    ],
   ["LAX", "Los Angeles"      , "CA"   , None                 , "Airport"    ],
   ["DEN", "Denver"           , "CO"   , None                 , "Airport"    ],
   ["PAP", None               , None   , "Pappadeauxs"        , "Restaurant" ],
       #
    ], dtype=np.dtype("object"))

pd_nodes = pd.DataFrame(data = np_nodes, columns = ["id", "airport_name", "state_code", "restaurant_name", "LABEL"])
   #
dd_nodes = from_pandas(pd_nodes, npartitions = NUM_PARTITIONS)


print(tabulate(pd_nodes, headers='keys', tablefmt='psql'))

print("--")

+----+------+----------------+--------------+-------------------+------------+
|    | id   | airport_name   | state_code   | restaurant_name   | LABEL      |
|----+------+----------------+--------------+-------------------+------------|
|  0 | MKE  | Milwaukee      | WI           |                   | Airport    |
|  1 | ORD  | Chicago O-Hare | IL           |                   | Airport    |
|  2 | SJC  | San Jose       | CA           |                   | Airport    |
|  3 | LAX  | Los Angeles    | CA           |                   | Airport    |
|  4 | DEN  | Denver         | CO           |                   | Airport    |
|  5 | PAP  |                |              | Pappadeauxs       | Restaurant |
+----+------+----------------+--------------+-------------------+------------+
--

In [ ]:

#  Create the Edge array ..

df_flights = pd.DataFrame([
      #
   ["MKE", "ORD",   66, 1, "FLIES_TO" ],
   ["ORD", "MKE",   66, 1, "FLIES_TO" ],
      #
   ["ORD", "DEN",  886, 1, "FLIES_TO" ],
   ["DEN", "ORD",  886, 1, "FLIES_TO" ],
      #
   ["SJC", "DEN",  948, 1, "FLIES_TO" ],                           #  Notice SJC flies to/from Denver
   ["DEN", "SJC",  948, 1, "FLIES_TO" ],
      #
   ["SJC", "ORD", 1829, 1, "FLIES_TO" ],                           #  Notice SJC flies to ORD, but not ORD to SJC
      #
   ], columns = ["START_ID", "END_ID", "DISTANCE", "NUM_HOPS", "TYPE"])

print(tabulate(df_flights, headers='keys', tablefmt='psql'))

In [ ]:

#  Used to test heterogeneous graphs ..

l_query = """
   CREATE ( n: Restaurant { id: 'PAP' } )                         //  Notice single curly braces
   SET n.restaurant_name = 'Pappadeauxs Seafood Kitchen' 
   """
      #
display(l_result = my_graph.query(l_query))

l_query = """
   MATCH
      (n: Airport   ),
      (m: Restaurant)
   WHERE n.id               = 'SJC'
   AND   m.id               = 'PAP'
   CREATE (n) -[r: ATTRACTION { DRIVABLE: 'Yes' }]-> (m)
   """
      #
display(l_result = my_graph.query(l_query))

#  From Dask Book