In [ ]:

#  Here we demonstrate the following Dask DataFrame techniques;
#
#     .  How to create a Dask DataFrame from an array.
#
#     .  Add a new column. Perhaps a LABEL or TYPE.

In [1]:

NUM_PARTITIONS  = 3

print("--")

--

In [2]:

import numpy as np
import pandas as pd
   #
import dask.array as da
import dask.dataframe as dd
   #
from dask.dataframe import from_pandas

from tabulate import tabulate

print("--")

--

In [3]:

#  Create our source Dask DataFrame from an array

np_airports = np.array([
       #
   ["MKE", "Milwaukee"     , "WI", "Airport"],
   ["ORD", "Chicago O-Hare", "IL", "Airport"],
   ["SJC", "San Jose"      , "CA", "Airport"],
   ["LAX", "Los Angeles"   , "CA", "Airport"],
   ["DEN", "Denver"        , "CO", "Airport"],
       #
   ], dtype="str")

pd_airports = pd.DataFrame(np_airports, columns = ["airport_code", "airport_name", "state_code", "LABEL"])
   #
dd_airports = from_pandas(pd_airports, npartitions = NUM_PARTITIONS)


for l_each in dd_airports.itertuples():
   print("Airport:  %3s   %-18s   %-2s   %-10s" % (l_each.airport_code, l_each.airport_name, l_each.state_code, l_each.LABEL))

print("--")

#  Sample output,
#
#  Airport:  MKE   Milwaukee            WI   Airport   
#  Airport:  ORD   Chicago O-Hare       IL   Airport   
#  Airport:  SJC   San Jose             CA   Airport   
#  Airport:  LAX   Los Angeles          CA   Airport   
#  Airport:  DEN   Denver               CO   Airport

Airport:  MKE   Milwaukee            WI   Airport
Airport:  ORD   Chicago O-Hare       IL   Airport
Airport:  SJC   San Jose             CA   Airport
Airport:  LAX   Los Angeles          CA   Airport
Airport:  DEN   Denver               CO   Airport
--

In [ ]:

#  How to add a new column

dd_airports = dd_airports.assign(new_col=lambda x: "AAA")
print(type(dd_airports))

for l_each in dd_airports.itertuples():
   print(l_each)

In [ ]:

#  How to add a new column, another approach

dd_airports["col2_new"] = dd_airports.airport_name.map(lambda x: x )

for l_each in dd_airports.itertuples():
   print(l_each)

In [7]:

#  How to add a new column, another approach
#
#     Here we add our own counter column-

l_initial = 4000 

dd_airports["my_index"] = range(l_initial, len(dd_airports) + l_initial)

for l_each in dd_airports.itertuples():
   print(l_each)

TypeError: Column assignment doesn't support type range

In [ ]:

#  How to drop a column

dd_airports = dd_airports.drop("airport_name", axis=1)
print(type(dd_airports))

for l_each in dd_airports.itertuples():
   print(l_each)

In [ ]:

#  Rename a column

dd_airports = dd_airports.rename(columns={"state_code": "STATE_CODE", "airport_code": "AIRPORT_CODE"})

for l_each in dd_airports.itertuples():
   print(l_each)

In [ ]:

#  Change column data types

#  First, add a new column is type str
dd_airports = dd_airports.assign(new_col2=lambda x: "20")

for l_each in dd_airports.itertuples():
   display(print("Type of new_col2: %-32s  Data for new_col2: %s   New_Col: %s" % (type(l_each.new_col2), l_each.new_col2, l_each.new_col) ))

         
dd_airports = dd_airports.assign(
    
   new_col3 = lambda x: x.new_col2.fillna(0.0).astype(int),
   new_col  = lambda x: x.new_col.str.lower()
   )


print("")
   #
for l_each in dd_airports.itertuples():
   display(print("Type of new_col3: %-32s  Data for new_col3: %s   New_Col: %s" % (type(l_each.new_col3), l_each.new_col3, l_each.new_col) ))


print("--")