#  Setup stuff:  Connectivity

In [1]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate

print("--")

--

In [2]:

from katana import remote
#  from katana.remote import import_data

my_client=remote.Client()

print(my_client)

<katana.remote.sync_wrappers.Client object at 0x7f3cf056f610>

In [3]:

NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"

print("--")

--

In [4]:

#  CONNECT TO GRAPH

my_graph, *_ = my_client.get_database(name=DB_NAME).find_graphs_by_name(GRAPH_NAME)

print(my_graph)

<_Graph my_graph, EVW1P2kCKvso8wrkChZF1jr25YumM78N3X97EFW693n9, 3>

#  Sample Cyphers: Vertices

In [ ]:

#  Cypher clauses
#
#     RETURN ..
#     ORDER BY ..
#     SKIP ..
#     LIMIT ..

In [ ]:

#  Use of some of the traversal methods ..
#

l_query  = """

   MATCH (n) - [r] -> (m)
   RETURN
      LABELS(m)         AS my_labels,
      ID(m)             AS my_id,
      KEYS(m)           AS my_keys,
      properties(m)     AS my_properties

   """.format()

l_result = my_graph.query(l_query)
   #
print(tabulate(l_result, headers='keys', tablefmt='psql'))

#  Sample output,
#
#     +----+----------------+-----------------+---------------------------------+-----------------------+------------------------------+--------------------+---------------------------------+
#     |    | my_labels      |           my_id | my_keys                         | my_properties.LABEL   | my_properties.airport_name   | my_properties.id   | my_properties.restaurant_name   |
#     |----+----------------+-----------------+---------------------------------+-----------------------+------------------------------+--------------------+---------------------------------|
#     |  0 | ['Airport']    |               0 | ['LABEL', 'airport_name', 'id'] | Airport               | Milwaukee                    | MKE                | nan                             |
#     |  1 | ['Airport']    | 562949953421312 | ['LABEL', 'airport_name', 'id'] | Airport               | Denver                       | DEN                | nan                             |
#     |  2 | ['Airport']    |               1 | ['LABEL', 'airport_name', 'id'] | Airport               | Chicago O-Hare               | ORD                | nan                             |
#     |  3 | ['Airport']    |               1 | ['LABEL', 'airport_name', 'id'] | Airport               | Chicago O-Hare               | ORD                | nan                             |
#     |  4 | ['Airport']    | 562949953421312 | ['LABEL', 'airport_name', 'id'] | Airport               | Denver                       | DEN                | nan                             |
#     |  5 | ['Restaurant'] | 281474976710657 | ['id', 'restaurant_name']       | nan                   | nan                          | PAP                | Pappadeauxs Seafood Kitchen     |
#     |  6 | ['Airport']    | 281474976710656 | ['LABEL', 'airport_name', 'id'] | Airport               | San Jose                     | SJC                | nan                             |
#     |  7 | ['Airport']    |               1 | ['LABEL', 'airport_name', 'id'] | Airport               | Chicago O-Hare               | ORD                | nan                             |
#     +----+----------------+-----------------+---------------------------------+-----------------------+------------------------------+--------------------+---------------------------------+

In [ ]:

#  Average traversal; just nodes
#

l_query  = """
   MATCH (n) 
   RETURN 
      ID(n)               AS my_id, 
      LABELS(n)           AS my_label, 
      n.airport_name      AS airport_name, 
      n.restaurant_name   AS restaurant_name
   """.format()

l_result = my_graph.query(l_query)
   #
print(tabulate(l_result, headers='keys', tablefmt='psql'))

#  Sample output,
#
#     +----+-----------------+----------------+----------------+-----------------------------+
#     |    |           my_id | my_label       | airport_name   | restaurant_name             |
#     |----+-----------------+----------------+----------------+-----------------------------|
#     |  0 |               1 | ['Airport']    | Chicago O-Hare |                             |
#     |  1 |               0 | ['Airport']    | Milwaukee      |                             |
#     |  2 | 281474976710656 | ['Airport']    | San Jose       |                             |
#     |  3 | 281474976710657 | ['Restaurant'] |                | Pappadeauxs Seafood Kitchen |
#     |  4 | 562949953421312 | ['Airport']    | Denver         |                             |
#     +----+-----------------+----------------+----------------+-----------------------------+

In [ ]:

#  Get a count of all nodes

display(my_graph.num_nodes())


l_query  = """
   MATCH (n) 
   RETURN COUNT(*) AS cnt
   """.format()

l_count = my_graph.query(l_query)["cnt"][0]


print(l_count)
print(type(l_count))

In [ ]:

#  Get a count of all node types

l_query  = """
   MATCH (n) 
   RETURN COUNT(DISTINCT LABELS(n)) AS cnt
   """.format()

l_count = my_graph.query_unpaginated(l_query)["cnt"][0]

print(l_count)

In [ ]:

#  List all node types

l_query  = """
   MATCH (n)
   RETURN DISTINCT LABELS(n) AS my_type
   """.format()

l_result = my_graph.query_unpaginated(l_query)


for l_each in l_result.itertuples():
   print(l_each.my_type)

print("--")

In [ ]:

#  List all node types with node counts

l_query  = """
   MATCH (n) 
   WITH DISTINCT LABELS(n) AS labels, COUNT(n) AS cnt
   UNWIND labels AS label
   RETURN label, SUM(cnt) AS cnt
   ORDER BY label
   """.format()

l_result = my_graph.query_unpaginated(l_query)
   #
print(tabulate(l_result, headers = "keys", tablefmt = "psql", showindex = False))


print("")


l_query  = """
   MATCH (n) 
   WITH COUNT(n) AS tempCnt
   RETURN tempCnt
   """.format()

l_result = my_graph.query_unpaginated(l_query)
   #
print(tabulate(l_result, headers = "keys", tablefmt = "psql", showindex = False))

#  Sample Cyphers: Edges

In [ ]:

#  Count all edges

display(my_graph.num_edges())

l_query  = """
    MATCH (n) - [r] -> (m)
    RETURN COUNT(r) AS cnt
   """.format()

l_count = my_graph.query(l_query)["cnt"][0]

print(l_count)

In [ ]:

#  List all edge types with counts

l_query  = """
   MATCH (m)-[r]->(n) 
   WITH DISTINCT TYPE(r) AS temp, COUNT(r) AS tempCnt
   RETURN temp, tempCnt
   ORDER BY temp
   """.format()

l_result = my_graph.query(l_query)
   #
print(tabulate(l_result, headers='keys', tablefmt='psql'))


l_query  = """
   MATCH (m)-[r]->(n) 
   WITH COUNT(r) AS tempCnt
   RETURN tempCnt
   """.format()

l_result = my_graph.query(l_query)
   #
print(tabulate(l_result, headers='keys', tablefmt='psql'))

#  Sample Cyphers: Properties

In [ ]:

#  Return properties/keys from all vertices

my_graph.query("CALL graph.schema() RETURN *")

In [ ]:

l_return = my_graph.schema()
   #
display(l_return)

display(l_return.nodes())
display(l_return.edges())

In [5]:

#  Return properties/keys from all vertices

l_query  = """
   MATCH (n)
   RETURN DISTINCT LABELS(n) AS label, KEYS(n)
   """.format()

l_result = my_graph.query_unpaginated(l_query)
   #
print(tabulate(l_result, headers = "keys", tablefmt = "psql", showindex = False))

          0/? [?op/s]

+---------------+------------------------------+
| label         | KEYS(n)                      |
|---------------+------------------------------|
| ['GDSC']      | ['id', 'label']              |
| ['CELL_LINE'] | ['id', 'label']              |
| ['GENE']      | ['id']                       |
| ['CELL_LINE'] | ['id', 'label', 'tcga_code'] |
| ['DRUG']      | ['id', 'label', 'smiles']    |
+---------------+------------------------------+

/opt/conda/lib/python3.8/site-packages/katana/remote/result_set.py:69: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._response = response

In [6]:

#  Return properties/keys from all edges
#  

l_query  = """
   MATCH (n) - [r] -> (m)
   RETURN DISTINCT TYPE(r) AS my_type, KEYS(r) AS my_keys
   """.format()

l_result = my_graph.query_unpaginated(l_query)
   #
print(tabulate(l_result, headers = "keys", tablefmt = "psql", showindex = False))

#  Sample data,
#
#     +-----------------------------+-------------------------------------+
#     | my_type                     | KEYS(r)                             |
#     |-----------------------------+-------------------------------------|
#     | FOR_DRUG                    | ['TYPE']                            |
#     | HAS_CELL_LINE               | ['TYPE']                            |
#     | HAS_EXPRESSION_OBSERVATION  | ['TYPE', 'observation']             |
#     | HAS_METHYLATION_OBSERVATION | ['TYPE', 'observation']             |
#     | HAS_MUTATION_OBSERVATION    | ['TYPE', 'mutation', 'observation'] |
#     | HAS_CELL_LINE               | ['TYPE', 'label']                   |
#     +-----------------------------+-------------------------------------+

          0/? [?op/s]

+-----------------------------+-------------------------------------+
| my_type                     | KEYS(r)                             |
|-----------------------------+-------------------------------------|
| FOR_DRUG                    | ['TYPE']                            |
| HAS_CELL_LINE               | ['TYPE']                            |
| HAS_EXPRESSION_OBSERVATION  | ['TYPE', 'observation']             |
| HAS_METHYLATION_OBSERVATION | ['TYPE', 'observation']             |
| HAS_MUTATION_OBSERVATION    | ['TYPE', 'mutation', 'observation'] |
| HAS_CELL_LINE               | ['TYPE', 'label']                   |
+-----------------------------+-------------------------------------+

#  Sample Cyphers: Diagnostics

In [ ]:

#  Also at,
#     https://amusing-fawn.clusters-k9h.dev/v2/widgets/katana-frontend/databases

my_client.widgets().operations()

#  my_client.widgets().databases()
#  my_client.widgets().dashboard()                #  No-op currently

In [ ]:

# result.raw() went away
#
#  to pretty print a result as JSON, use ..

#  Just to get some data ..
#

l_query  = """
   MATCH (n) - [r] -> (m)
   RETURN DISTINCT type(r) AS type, keys(r)
   """.format()

l_result = my_graph.query(l_query)


import json

l_result_json = json.loads(l_result.to_json())
l_result_strn = json.dumps(l_result_json, indent=2)

print(l_result_strn)

In [ ]:

#  Produce a visual graph

l_result = my_graph.query("""

   MATCH (n) -[r]-> (m)
   RETURN n, r, m
   LIMIT 1000 
   
   """,
   contextualize=True)

l_result.view()

#  More Cypher

In [ ]:

#  Parameterized query, works with (Airports) ..

l_fname = "MKE"

l_query  = """

   MATCH (n: Airport) 
   WHERE n.id = '{0}'
   RETURN n

   """.format(l_fname)

l_result = my_graph.query(l_query)
   #
print(tabulate(l_result, headers='keys', tablefmt='psql'))

In [ ]:

#  Regex query, tested with (Airports) ..
#
#     This fails currently ..

l_fname = "/^M*/"

l_query  = """

   MATCH (n: Airport) 
   WHERE n.airport_name =~ '{0}'
   RETURN n.id, n.airport_name

   """.format(l_fname)

l_result = my_graph.query(l_query)

display(print(l_result[0:5]))

#  Sample output,
#
#     OperationError: FmPz7gHk5N3wKxVziuy6KiRd9D9U3KiqSCaursUBfDEG-4R77ceGCNHQJRCW56 backtrace (QueryOperation.cpp:67):
#     backtrace (Network.h:331): backtrace (QueryOperation.cpp:70): backtrace (QueryClient.cpp:603): unable to translate
#     openCypher parse tree to internal IR (OpGraph.cpp:224): string comparision with regular expression not supported
#     (CypherOpGraphBuilder.cpp:57): InternalError:NotImplemented: InternalError:NotImplemented: InternalError:NotImplemented

In [ ]:
# ###################################################################

In [ ]:

#  Changing the Edge type; step 1, see what is present currently ..
#

#  What is present currently ..
#
#  l_query  = """
#  
#     MATCH (n) - [r] -> (m)
#     RETURN m
#  
#     """.format()
#  
#  l_result = my_graph.query(l_query)
#     #
#  print(tabulate(l_result, headers='keys', tablefmt='psql'))


#  l_query  = """
#  
#     MATCH (n) - [r] -> (m)
#     RETURN r
#  
#     """.format()
#  
#  l_result = my_graph.query(l_query)
#     #
#  print(tabulate(l_result, headers='keys', tablefmt='psql'))


#  Using traversal methods to create a result set
#
l_query  = """

   MATCH (n) - [r] -> (m)
   RETURN
      TYPE(r)           AS my_type,
      ID(r)             AS my_id,
      KEYS(r)           AS my_keys,
         //
      ID(startNode(r))  AS my_startnode_id,
      ID(endNode(r))    AS my_endnode_id

   """.format()

l_result = my_graph.query(l_query)
   #
print(tabulate(l_result, headers='keys', tablefmt='psql'))


#  Sample output,
#
#     +----+-----------------+----------------+-----------+------------------+--------+----------+-----------------------------+
#     |    |   m.internal_id | m.labels       | m.LABEL   | m.airport_name   | m.id   | m.type   | m.restaurant_name           |
#     |----+-----------------+----------------+-----------+------------------+--------+----------+-----------------------------|
#     |  0 |               0 | ['Airport']    | Airport   | Milwaukee        | MKE    | node     | nan                         |
#     |  1 | 562949953421312 | ['Airport']    | Airport   | Denver           | DEN    | node     | nan                         |
#     |  2 |               1 | ['Airport']    | Airport   | Chicago O-Hare   | ORD    | node     | nan                         |
#     |  3 |               1 | ['Airport']    | Airport   | Chicago O-Hare   | ORD    | node     | nan                         |
#     |  4 | 562949953421312 | ['Airport']    | Airport   | Denver           | DEN    | node     | nan                         |
#     |  5 | 281474976710657 | ['Restaurant'] | nan       | nan              | PAP    | node     | Pappadeauxs Seafood Kitchen |
#     |  6 | 281474976710656 | ['Airport']    | Airport   | San Jose         | SJC    | node     | nan                         |
#     |  7 |               1 | ['Airport']    | Airport   | Chicago O-Hare   | ORD    | node     | nan                         |
#     +----+-----------------+----------------+-----------+------------------+--------+----------+-----------------------------+
#     
#     +----+-----------------+----------------+-----------------+------------+--------------+-------------------+---------------------+--------------+----------+-----------------+------------------+----------+--------------+
#     |    |        r.end.id | r.end.labels   |   r.internal_id | r.label    |   r.DISTANCE |   r.DIST_KMS_0021 |   r.DIST_MILES_0021 |   r.NUM_HOPS | r.TYPE   |      r.start.id | r.start.labels   | r.type   | r.DRIVABLE   |
#     |----+-----------------+----------------+-----------------+------------+--------------+-------------------+---------------------+--------------+----------+-----------------+------------------+----------+--------------|
#     |  0 |               1 | ['Airport']    |               1 | FLIES_TO   |           66 |               106 |                  66 |            1 | FLIES_TO |               0 | ['Airport']      | edge     | nan          |
#     |  1 |               0 | ['Airport']    |               0 | FLIES_TO   |           66 |               106 |                  66 |            1 | FLIES_TO |               1 | ['Airport']      | edge     | nan          |
#     |  2 | 562949953421312 | ['Airport']    |               2 | FLIES_TO   |          886 |              1425 |                 886 |            1 | FLIES_TO |               1 | ['Airport']      | edge     | nan          |
#     |  3 |               1 | ['Airport']    | 281474976710656 | FLIES_TO   |         1829 |              2943 |                1829 |            1 | FLIES_TO | 281474976710656 | ['Airport']      | edge     | nan          |
#     |  4 | 562949953421312 | ['Airport']    | 281474976710657 | FLIES_TO   |          948 |              1525 |                 948 |            1 | FLIES_TO | 281474976710656 | ['Airport']      | edge     | nan          |
#     |  5 | 281474976710657 | ['Restaurant'] | 281474976710658 | ATTRACTION |          nan |               nan |                 nan |          nan | nan      | 281474976710656 | ['Airport']      | edge     | Yes          |
#     |  6 | 281474976710656 | ['Airport']    | 562949953421312 | FLIES_TO   |          948 |              1525 |                 948 |            1 | FLIES_TO | 562949953421312 | ['Airport']      | edge     | nan          |
#     |  7 |               1 | ['Airport']    | 562949953421313 | FLIES_TO   |          886 |              1425 |                 886 |            1 | FLIES_TO | 562949953421312 | ['Airport']      | edge     | nan          |
#     +----+-----------------+----------------+-----------------+------------+--------------+-------------------+---------------------+--------------+----------+-----------------+------------------+----------+--------------+
#
#     +----+------------+-----------------+----------------------------------------------------------------------+-------------------+-----------------+
#     |    | my_type    |           my_id | my_keys                                                              |   my_startnode_id |   my_endnode_id |
#     |----+------------+-----------------+----------------------------------------------------------------------+-------------------+-----------------|
#     |  0 | FLIES_TO   |               1 | ['DISTANCE', 'NUM_HOPS', 'TYPE', 'DIST_MILES_0021', 'DIST_KMS_0021'] |                 0 |               1 |
#     |  1 | FLIES_TO   |               0 | ['DISTANCE', 'NUM_HOPS', 'TYPE', 'DIST_MILES_0021', 'DIST_KMS_0021'] |                 1 |               0 |
#     |  2 | FLIES_TO   |               2 | ['DISTANCE', 'NUM_HOPS', 'TYPE', 'DIST_MILES_0021', 'DIST_KMS_0021'] |                 1 | 562949953421312 |
#     |  3 | FLIES_TO   | 281474976710656 | ['DISTANCE', 'NUM_HOPS', 'TYPE', 'DIST_MILES_0021', 'DIST_KMS_0021'] |   281474976710656 |               1 |
#     |  4 | FLIES_TO   | 281474976710657 | ['DISTANCE', 'NUM_HOPS', 'TYPE', 'DIST_MILES_0021', 'DIST_KMS_0021'] |   281474976710656 | 562949953421312 |
#     |  5 | ATTRACTION | 281474976710658 | ['DRIVABLE']                                                         |   281474976710656 | 281474976710657 |
#     |  6 | FLIES_TO   | 562949953421312 | ['DISTANCE', 'NUM_HOPS', 'TYPE', 'DIST_MILES_0021', 'DIST_KMS_0021'] |   562949953421312 | 281474976710656 |
#     |  7 | FLIES_TO   | 562949953421313 | ['DISTANCE', 'NUM_HOPS', 'TYPE', 'DIST_MILES_0021', 'DIST_KMS_0021'] |   562949953421312 |               1 |
#     +----+------------+-----------------+----------------------------------------------------------------------+-------------------+-----------------+

In [ ]:

#  Actually changing the edge type
#
#  We will change it for the Restaurant

l_query  = """

   MATCH ( n: Airport {{ airport_name: 'San Jose' }} ) - [ r: ATTRACTION ] -> ( m: Restaurant {{ restaurant_name: 'Pappadeauxs Seafood Kitchen' }} )
   CREATE ( n ) - [ r2: SUPER_ATTRACTION {{ DRIVABLE: 'Yes' }} ] -> ( m )
   // SET r2 = r
   // WITH r
   DELETE r

   """.format()

l_result = my_graph.query(l_query)
   #
print(tabulate(l_result, headers='keys', tablefmt='psql'))

#  Sample output,
#
#     (Re-run a traversal above)

#   From,
#      https://stackoverflow.com/questions/22670369/neo4j-cypher-how-to-change-the-type-of-a-relationship
#
#   Above,
#      .  We set the edgee properties directly.
#         The SET and WITH do not work currently.
#         When they do work, we should need to set the properties manually.
#
#         See,
#            https://katanagraph.atlassian.net/browse/KAT-11971

In [ ]:

#  Delete everything in the graph
#

l_query  = """

   MATCH (n)
   DETACH DELETE (n)

   """.format()

l_result = my_graph.query_unpaginated(l_query)
   #
print(tabulate(l_result, headers='keys', tablefmt='psql'))


print("--")