In [ ]:

#  This file demonstrates,
#
#     .  A better approach to json.loads()
#        Look for: import ast
#
#     .  Manual Cypher CREATE loops
#

#  Setup stuff: Connectivity

In [ ]:

from katana import remote
from katana.remote import import_data

my_client = remote.Client()

print(my_client)

In [ ]:

NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"

print("--")

In [ ]:

#  DELETE ALL GRAPHS

for l_database in my_client.databases():
   for l_graph in my_client.get_database(name=l_database.name).graphs_in_database():
      l_handle=my_client.get_database(name=l_database.name).get_graph_by_id(id=l_graph.graph_id)
      l_handle.delete()

for l_graph in my_client.graphs():
   print("GRAPH ID: ", l_graph.graph_id, "      GRAPH Version: ", l_graph.version)

print("--")

In [ ]:

#  DELETE ALL DATABASES

for l_database in my_client.databases():
   if (l_database.name != "default"):
      my_client.get_database(name=l_database.name).delete_database()
      print("--")

for l_database in my_client.databases():
   print("DB ID: ", l_database.database_id, "     DB Name: ", l_database.name)

In [ ]:

#  CREATE DATABASE

my_database = my_client.create_database(name=DB_NAME)

print(my_database.database_id)

In [ ]:

#  CREATE GRAPH

my_graph = my_client.get_database(name=DB_NAME).create_graph(name=GRAPH_NAME, num_partitions=NUM_PARTITIONS)

print(my_graph)

In [ ]:

#  CONNECT TO GRAPH

my_graph, *_ = my_client.get_database(name=DB_NAME).find_graphs_by_name(GRAPH_NAME)

print(my_graph)

In [ ]:

display(my_graph.num_nodes())
display(my_graph.num_edges())

#  Group: 01

In [ ]:

import pandas as pd
   #
pd.set_option("display.width", 480)

print("--")

In [ ]:
#  Simple test, write, simple data types ..

df_data = pd.DataFrame([
   [101, "Sameer"    , "Katana"                , "Bay"    , "my_vertice"],
   [102, "Justin"    , "Katana"                , "LA"     , "my_vertice"],
   [103, "Brian"     , "Katana"                , "Denver" , "my_vertice"],
   ], columns = ["col1", "col2", "col3", "col4", "col5"])

df_data.head(20)

In [ ]:

for l_each in df_data.itertuples():
    
   l_query = """

      CREATE ( n: {4} {{ colA: {0} }} )                         //  Notice double curly braces
      SET n.colB = '{1}', n.colC = '{2}', n.colD = '{3}'
      
      """.format(l_each.col1, l_each.col2, l_each.col3, l_each.col4, l_each.col5)
         
   l_result0 = my_graph.query(l_query)
        
print("--")

In [ ]:

l_result = my_graph.query("""

   MATCH (n)
   RETURN n
   
   """)

print(l_result)

#  Reset from above

In [38]:

#  Reset from above, delete and recreate the graph

#  DELETE GRAPH
#
for l_graph in my_client.get_database(name=DB_NAME).graphs_in_database():
   if (l_graph.name == GRAPH_NAME):
      l_handle=my_client.get_database(name=DB_NAME).get_graph_by_id(id=l_graph.graph_id)
      l_handle.delete()

print("--")

--

In [39]:

#  CREATE GRAPH
#
my_graph = my_client.get_database(name=DB_NAME).create_graph(name=GRAPH_NAME, num_partitions=NUM_PARTITIONS)

print(my_graph)

<_Graph my_graph, GsKbApRLBtnyH7A2SCsJPvwquacQv8QjnHqJrJHHmZBR, 0>

#  Group: 02

In [40]:

#  Write the more complex dataframe ..

df_data = pd.DataFrame([
   [101, 30, {"ab":1, "we":2, "as":3}, "String1", "my_vertice"],
   [102, 31, {"ab":4, "we":5, "as":6}, "String2", "my_vertice"],
   [103, 32, {"ab":7, "we":8, "as":9}, "String2", "my_vertice"],
   ], columns = ["col1", "col2", "col3", "col4", "col5"])

df_data.head(20)

   col1  col2                         col3     col4        col5
0   101    30  {'ab': 1, 'we': 2, 'as': 3}  String1  my_vertice
1   102    31  {'ab': 4, 'we': 5, 'as': 6}  String2  my_vertice
2   103    32  {'ab': 7, 'we': 8, 'as': 9}  String2  my_vertice

In [ ]:
#  Prove that we can (parse) the dataframe above, versus say "col3" being a string ..

for l_each in df_data.itertuples():
   #  print(type(l_each.col3))                               #  <class 'dict'>
   print(l_each.col3["ab"])

In [41]:

for l_each in df_data.itertuples():
   l_query = """

      CREATE ( n: {4} {{ col1: {0} }} )                         //  Notice double curly braces
      SET n.col2 = {1}, n.col3 = \"{2}\", n.col4 = '{3}'
      
      """.format(l_each.col1, l_each.col2, l_each.col3, l_each.col4, l_each.col5)
         
   l_result0 = my_graph.query(l_query)
        
print("--")

          0/? [?op/s]

          0/? [?op/s]

          0/? [?op/s]

--

In [42]:

l_result = my_graph.query("""

   MATCH (n)
   RETURN n.col3 AS col3
   """)

print(l_result)

          0/? [?op/s]

                          col3
0  {'ab': 4, 'we': 5, 'as': 6}
1  {'ab': 1, 'we': 2, 'as': 3}
2  {'ab': 7, 'we': 8, 'as': 9}

In [43]:

#  This one errors out. There may not be an answer.
#
#  As we are inserting the data, it goes in as a string.
#

l_result = my_graph.query("""

   MATCH (n)
   // RETURN n.col3.ab
   // RETURN n.col3[ab]
   // RETURN n.col3['ab']
   // RETURN n.col3.{ab}
   // RETURN n.col3{ab}
   RETURN n.col3
   
   """)

print(l_result)

          0/? [?op/s]

                        n.col3
0  {'ab': 1, 'we': 2, 'as': 3}
1  {'ab': 7, 'we': 8, 'as': 9}
2  {'ab': 4, 'we': 5, 'as': 6}

In [ ]:

#  import json, json.loads(),  does not work here because the DataFrame returned single quotes

import ast

for l_each in l_result.itertuples():
   l_aaa = ast.literal_eval(l_each.col3)
   print(l_aaa["ab"])
    
print("--")

#  Reset from above

In [ ]:
#  Reset from above, delete and recreate the graph

#  DELETE GRAPH
#
for l_graph in my_client.get_database(name=DB_NAME).graphs_in_database():
   if (l_graph.name == GRAPH_NAME):
      l_handle=my_client.get_database(name=DB_NAME).get_graph_by_id(id=l_graph.graph_id)
      l_handle.delete()

print("--")

In [ ]:

#  CREATE GRAPH

my_graph = my_client.get_database(name=DB_NAME).create_graph(name=GRAPH_NAME, num_partitions=NUM_PARTITIONS)

print(my_graph)

#  Group: 03

In [ ]:
#  Write the more complex dataframe ..

df_data = pd.DataFrame([
   [101, 30, [ 1, 2, 3 ], "String1", "my_vertice"],
   [102, 31, [ 4, 5, 6 ], "String2", "my_vertice"],
   [103, 32, [ 7, 8, 9 ], "String2", "my_vertice"],
   ], columns = ["col1", "col2", "col3", "col4", "col5"])

df_data.head(20)

In [ ]:

#  Prove that we can (parse) the dataframe above, versus say "col3" being a string ..
#
#  Recall arrays and similar index from zero ..

print(df_data.col3[1][2])

In [ ]:

for l_each in df_data.itertuples():
    
   l_query = """

      CREATE ( n: {4} {{ col1: {0} }} )                         //  Notice double curly braces
      SET n.col2 = {1}, n.col3 = {2}, n.col4 = '{3}'
      
      """.format(l_each.col1, l_each.col2, l_each.col3, l_each.col4, l_each.col5)
         
   l_result0 = my_graph.query(l_query)
        
print("--")

In [ ]:

l_result = my_graph.query("""

   MATCH (n)
   RETURN n.col3[1]
   
   """)

print(l_result)