#  Setup stuff: Connectivity

In [1]:
import os

from katana import remote
from katana.remote import import_data

my_client = remote.Client()

print(my_client)

VERBOSE: ../../../../external/katana/libgalois/include/katana/AsyncPool.h:152: 2709: async pool tids: 139719631996672, 139719629895424
VERBOSE: ../../../../external/katana/libgalois/include/katana/AsyncPool.h:152: 2709: async pool tids: 139719627794176, 139719623595776
VERBOSE: ../../../../external/katana/libgalois/include/katana/AsyncPool.h:152: 2709: async pool tids: 139719619397376, 139719611004672
VERBOSE: ../../../../external/katana/libgalois/include/katana/AsyncPool.h:152: 2709: async pool tids: 139719602611968, 139719585830656
VERBOSE: ../../../../external/katana/libgalois/include/katana/AsyncPool.h:152: 2709: async pool tids: 139719569049344, 139719566948096

<katana_enterprise.remote.sync_wrappers.Client object at 0x7f13461400a0>

In [2]:
NUM_PARTITIONS = 3
   #
DB_NAME        = "my_db"
GRAPH_NAME     = "my_graph"

print("--")

--

In [3]:
#  DELETE ALL GRAPHS

for l_database in my_client.databases():
   for l_graph in my_client.get_database(name=l_database.name).graphs_in_database():
      l_handle=my_client.get_database(name=l_database.name).get_graph_by_id(id=l_graph.graph_id)
      l_handle.delete()

for l_graph in my_client.graphs():
   print("GRAPH ID: ", l_graph.graph_id, "      GRAPH Version: ", l_graph.version)

print("--")

--

In [ ]:
#  DELETE ALL DATABASES

for l_database in my_client.databases():
   if (l_database.name != "default"):
      my_client.get_database(name=l_database.name).delete_database()
      print("--")

for l_database in my_client.databases():
   print("DB ID: ", l_database.database_id, "     DB Name: ", l_database.name)

In [ ]:
#  CREATE DATABASE

my_database = my_client.create_database(name=DB_NAME)

print(my_database.database_id)

In [4]:
#  CREATE GRAPH
#
my_graph = my_client.get_database(name=DB_NAME).create_graph(name=GRAPH_NAME, num_partitions=NUM_PARTITIONS)

print(my_graph)

<_Graph my_graph, DEYg6FHy6f4kJDoDY4CtNkqztNnw9pcksAeKasZFGMf8, 0>

In [ ]:
#  CONNECT TO GRAPH

for l_graph in my_client.get_database(name=DB_NAME).graphs_in_database():
   if (l_graph.name == GRAPH_NAME):
      my_graph=my_client.get_database(name=DB_NAME).get_graph_by_id(id=l_graph.graph_id)
         #
      break

print(my_graph)

#  Setup stuff: Debugging

In [5]:
display(my_graph.num_nodes())
display(my_graph.num_edges())

          0/? [?op/s]

0

          0/? [?op/s]

0

In [ ]:

l_result = my_graph.query("""

   MATCH (n) - [ r ] -> (m)
   RETURN n, m, r
   
   """, contextualize=True)

l_result.view()

In [ ]:

l_result = my_graph.query("""

   MATCH (a) 
   WITH DISTINCT LABELS(a) AS temp, COUNT(a) AS tempCnt
   UNWIND temp AS label
   RETURN label, SUM(tempCnt) AS cnt
   ORDER BY label
   
   """)

display(print(l_result))

In [ ]:

l_result = my_graph.query("""

   MATCH (m)-[r]->(n) 
   WITH DISTINCT TYPE(r) AS temp, COUNT(r) AS tempCnt
   RETURN temp, tempCnt
   ORDER BY temp

   """)

display(print(l_result))

# Create: Vertices/nodes, edges ..

In [6]:
import pandas as pd

print("--")

--

In [7]:

#  Vertices/Nodes ..
#
#  Person;              id, name
#  Order;               id, date_placed, date_shipped
#  Stock;               id, name
#  Store;               id, city
#  DistributionCenter;  id, city
#  Reviewer;            id, name, city

df_persons    = pd.DataFrame([
      #
   ["P_101" , "Justin"                  , "Person"],
   ["P_102" , "Anand"                   , "Person"],
   ["P_103" , "Brian"                   , "Person"],
   ["P_104" , "Sameer"                  , "Person"],
       #
   ], columns = ["id", "name", "LABEL"])
      #
display(df_persons.head(2))

df_orders     = pd.DataFrame([
      #
   ["O_101" , "2022-09-01", ""           , "Order"],
   ["O_102" , "2022-09-02", ""           , "Order"],
   ["O_103" , "2022-09-01", "2022-09-06" , "Order"],
   ["O_104" , "2022-09-02", ""           , "Order"],
   ["O_105" , "2022-09-01", ""           , "Order"],
   ["O_106" , "2022-09-02", ""           , "Order"],
   ["O_107" , "2022-09-01", ""           , "Order"],
   ["O_108" , "2022-09-02", ""           , "Order"],
       #
   ], columns = ["id", "date_placed", "date_shipped", "LABEL"])
      #
display(df_orders.head(2))

df_items      = pd.DataFrame([
      #
   ["I_101" , "Shoes"                   , "Item"],
   ["I_102" , "Blanket"                 , "Item"],
   ["I_103" , "Pants"                   , "Item"],
   ["I_104" , "Hat"                     , "Item"],
       #
   ], columns = ["id", "name", "LABEL"])
      #
display(df_items.head(2))

df_stores     = pd.DataFrame([
      #
   ["S_101" , "Milwaukee"               , "Store"],
   ["S_102" , "Denver"                  , "Store"],
   ["S_103" , "San Jose"                , "Store"],
   ["S_104" , "Houston"                 , "Store"],
       #
   ], columns = ["id", "city", "LABEL"])
      #
display(df_stores.head(2))

df_dist_centers = pd.DataFrame([
      #
   ["D_101" , "Reno"                    , "Dist_Center"],
   ["D_102" , "Houston"                 , "Dist_Center"],
      #
   ], columns = ["id", "city", "LABEL"])
      #
display(df_dist_centers.head(2))

df_reviewers  = pd.DataFrame([
      #
   ["R_101" , "Mary"      , "Dallas"     , "Reviewer"],
   ["R_102" , "Allen"     , "Houston"    , "Reviewer"],
      #
   ], columns = ["id", "name", "city", "LABEL"])
      #
display(df_reviewers.head(2))

      id    name   LABEL
0  P_101  Justin  Person
1  P_102   Anand  Person

      id date_placed date_shipped  LABEL
0  O_101  2022-09-01               Order
1  O_102  2022-09-02               Order

      id     name LABEL
0  I_101    Shoes  Item
1  I_102  Blanket  Item

      id       city  LABEL
0  S_101  Milwaukee  Store
1  S_102     Denver  Store

      id     city        LABEL
0  D_101     Reno  Dist_Center
1  D_102  Houston  Dist_Center

      id   name     city     LABEL
0  R_101   Mary   Dallas  Reviewer
1  R_102  Allen  Houston  Reviewer

In [9]:
#  Create the edges ..

#  Person  P_101-104  -  PLACED  -  Order  O_101-108
#
df_placed = pd.DataFrame([
      #
   ["P_101" , "O_101" ,        "PLACED" ],
   ["P_101" , "O_102" ,        "PLACED" ],
   ["P_102" , "O_103" ,        "PLACED" ],
   ["P_102" , "O_104" ,        "PLACED" ],
   ["P_103" , "O_105" ,        "PLACED" ],
   ["P_103" , "O_106" ,        "PLACED" ],
   ["P_104" , "O_107" ,        "PLACED" ],
   ["P_104" , "O_108" ,        "PLACED" ],
      #
   ], columns = ["START_ID", "END_ID", "TYPE"])
      #
display(df_placed.head(2))

#  Order  O_101-108  -  REVIEWED_BY  -  Reviewer  R_101-102     Reviewer 2 is Houston
#                                                               Which makes Order 108 a Houston Order
#
df_reviewed_by = pd.DataFrame([
      #
   ["O_101" , "R_101" ,        "REVIEWED_BY" ],
   ["O_102" , "R_101" ,        "REVIEWED_BY" ],
   ["O_103" , "R_101" ,        "REVIEWED_BY" ],
   ["O_104" , "R_101" ,        "REVIEWED_BY" ],
   ["O_105" , "R_101" ,        "REVIEWED_BY" ],
   ["O_106" , "R_101" ,        "REVIEWED_BY" ],
   ["O_107" , "R_101" ,        "REVIEWED_BY" ],
   ["O_108" , "R_102" ,        "REVIEWED_BY" ],
      #
   ], columns = ["START_ID", "END_ID", "TYPE"])
      #
display(df_reviewed_by.head(2))

#  Order  O_101-108  -  COMPRISED_OF  -  Item  I_101-104 
#
df_comprised_of = pd.DataFrame([
      #
   ["O_101" , "I_101" ,        "COMPRISED_OF" ],
   ["O_102" , "I_102" ,        "COMPRISED_OF" ],
   ["O_103" , "I_103" ,        "COMPRISED_OF" ],
   ["O_104" , "I_104" ,        "COMPRISED_OF" ],
   ["O_105" , "I_101" ,        "COMPRISED_OF" ],
   ["O_106" , "I_102" ,        "COMPRISED_OF" ],
   ["O_107" , "I_103" ,        "COMPRISED_OF" ],
   ["O_108" , "I_104" ,        "COMPRISED_OF" ],
      #
   ], columns = ["START_ID", "END_ID", "TYPE"])
      #
display(df_comprised_of.head(2))


#  Stock  K_101-104  -  FOUND_AT  -  Store  S_101-104           Store 4 is Houston
#                                                               Which makes Stock 104 a Houston Stock (Item)
#
df_found_at1 = pd.DataFrame([
      #
   ["S_101" , "I_101" , 5 ,    "FOUND_AT" ],
   ["S_101" , "I_102" , 5 ,    "FOUND_AT" ],
   ["S_101" , "I_103" , 5 ,    "FOUND_AT" ],
      #
   ["S_102" , "I_102" , 5 ,    "FOUND_AT" ],
   ["S_102" , "I_103" , 5 ,    "FOUND_AT" ],
      #
   ["S_103" , "I_101" , 5 ,    "FOUND_AT" ],
   ["S_103" , "I_102" , 5 ,    "FOUND_AT" ],
   ["S_103" , "I_103" , 5 ,    "FOUND_AT" ],
      #
   ["S_104" , "I_101" , 0 ,    "FOUND_AT" ],
   ["S_104" , "I_102" , 0 ,    "FOUND_AT" ],
   ["S_104" , "I_103" , 0 ,    "FOUND_AT" ],
   ["S_104" , "I_104" , 0 ,    "FOUND_AT" ],
      #
   ], columns = ["START_ID", "END_ID", "QUANTITY", "TYPE"])
      #
display(df_found_at1.head(2))


#  Stock  K_101-104  -  FOUND_AT  -  Dist_Center  S_101-102     Dist_Center 2 is Houston
#                                                               Which makes Stock 103 and 104 a Houston Stock (Item)
#
df_found_at2 = pd.DataFrame([
      #
   ["D_101" , "I_101" , 5 ,    "FOUND_AT" ],
   ["D_101" , "I_102" , 5 ,    "FOUND_AT" ],
   ["D_101" , "I_103" , 5 ,    "FOUND_AT" ],
   ["D_101" , "I_104" , 5 ,    "FOUND_AT" ],
      #
   ["D_102" , "I_103" , 0 ,    "FOUND_AT" ],
   ["D_102" , "I_104" , 5 ,    "FOUND_AT" ],
      #
   ], columns = ["START_ID", "END_ID", "QUANTITY", "TYPE"])
      #
display(df_found_at2.head(2))


#  Need Reviewed_By

  START_ID END_ID    TYPE
0    P_101  O_101  PLACED
1    P_101  O_102  PLACED

  START_ID END_ID         TYPE
0    O_101  R_101  REVIEWED_BY
1    O_102  R_101  REVIEWED_BY

  START_ID END_ID          TYPE
0    O_101  I_101  COMPRISED_OF
1    O_102  I_102  COMPRISED_OF

  START_ID END_ID  QUANTITY      TYPE
0    S_101  I_101         5  FOUND_AT
1    S_101  I_102         5  FOUND_AT

  START_ID END_ID  QUANTITY      TYPE
0    D_101  I_101         5  FOUND_AT
1    D_101  I_102         5  FOUND_AT

In [10]:

# Import the previously created Python DataFrames into KatanaGraph ..

with import_data.DataFrameImporter(my_graph) as df_importer:   
    
   df_importer.nodes_dataframe(df_persons, 
      id_column             = "id",
      id_space              = "Person",  
      label                 = "Person",  
      )

   df_importer.nodes_dataframe(df_persons, 
      id_column             = "id",
      id_space              = "Person",  
      label                 = "Person",  
      )



   df_importer.nodes_dataframe(df_items, 
      id_column             = "id",
      id_space              = "Item",  
      label                 = "Item",  
      )

   df_importer.nodes_dataframe(df_stores, 
      id_column             = "id",
      id_space              = "Store",  
      label                 = "Store",  
      )

   df_importer.nodes_dataframe(df_dist_centers, 
      id_column             = "id",
      id_space              = "Dist_Center",  
      label                 = "Dist_Center",  
      )

   df_importer.nodes_dataframe(df_reviewers, 
      id_column             = "id",
      id_space              = "Reviewer",  
      label                 = "Reviewer",  
      )

         ###
   
   df_importer.edges_dataframe(df_placed,
      source_id_space       = "Person", 
      destination_id_space  = "Order",   
      source_column         = "START_ID",
      destination_column    = "END_ID",
      type                  = "PLACED"
      )
    
    
    

print("--")

UserWarning: dtype for DataFrame column 'name' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'LABEL' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'city' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'TYPE' is 'object'. Will be inferred as string.

          0/? [?op/s]

          0/? [?op/s]

CancelledError:

In [ ]:
# ##################################################################