In [ ]:
#  Notebook to load CSV into graph using DataFrame method
#
#  .  Data is the Neo4J Movie graph
#  .  Incidentally includes teaching methods relative to Dask DataFrame manipulation
#
#  .  I haven't fully checked all results below; there may be issues

In [ ]:

from katana import remote
from katana.remote import import_data

my_client = remote.Client()

print(my_client)

In [ ]:

NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"

print("--")

In [ ]:
# ##################################################################
#
#  This section; basic graph and database setup, reset for test

In [ ]:
#  DELETE ALL GRAPHS

for l_database in my_client.databases():
   for l_graph in my_client.get_database(name=l_database.name).graphs_in_database():
      l_handle=my_client.get_database(name=l_database.name).get_graph_by_id(id=l_graph.graph_id)
      l_handle.delete()

for l_graph in my_client.graphs():
   print("GRAPH ID: ", l_graph.graph_id, "      GRAPH Version: ", l_graph.version)

print("--")

In [ ]:
#  DELETE ALL DATABASES

for l_database in my_client.databases():
   if (l_database.name != "default"):
      my_client.get_database(name=l_database.name).delete_database()
      print("--")

for l_database in my_client.databases():
   print("DB ID: ", l_database.database_id, "     DB Name: ", l_database.name)

In [ ]:
#  CREATE DATABASE

my_database = my_client.create_database(name=DB_NAME)

print(my_database.database_id)

In [ ]:
#  CREATE A GRAPH

my_graph=my_client.get_database(name=DB_NAME).create_graph(name=GRAPH_NAME, num_partitions=NUM_PARTITIONS)

print(my_graph)

In [ ]:
#  CONNECT TO GRAPH

for l_graph in my_client.get_database(name=DB_NAME).graphs_in_database():
   if (l_graph.name == GRAPH_NAME):
      my_graph=my_client.get_database(name=DB_NAME).get_graph_by_id(id=l_graph.graph_id)
         #
      break

# my_graph, *_ = my_client.get_database(name=DB_NAME).find_graphs_by_name(GRAPH_NAME)

print(my_graph)

In [ ]:
display(my_graph.num_nodes())
display(my_graph.num_edges())

In [ ]:
# ##################################################################
#
#  Load from source CSV, in this case we are using the Neo4J Movie graph

In [ ]:
import dask.dataframe as dd
import numpy as np

print("--")

In [ ]:
#  Load a DataFrame from CSV, Nodes/Vertices

l_InputFile  = "./10_NMovieDB/24_nodes.txt"

df_all_nodes1 = dd.read_csv(
   l_InputFile,
   delimiter = ",",
   dtype = {
      # "id"        : int,
      "id"        : np.dtype('O'),
      "_labels"   : np.dtype('O'),
      # "born"      : float, 
      "born"      : np.dtype('O'),
      "name"      : np.dtype('O'),
      # "released"  : float,
      "released"  : np.dtype('O'),
      "tagline"   : np.dtype('O'),
      "title"     : np.dtype('O')
      })

print("--")

In [ ]:
#  Number of rows, two different ways

display(len(df_all_nodes1))
display(print("{} Rows".format(df_all_nodes1.shape[0].compute())))

#  Other output

display(df_all_nodes1.head(10))
display(df_all_nodes1[["born", "name"]].head(10))

In [ ]:
#  Print all rows, subsetted columns

for l_each in df_all_nodes1.iterrows():
   print(l_each[0], "   ", l_each[1]["_labels"], "   ", l_each[1]["name"])

In [ ]:
# ##################################################################
#
#   https://www.askpython.com/python/examples/subset-a-dataframe
#   https://www.codegrepper.com/code-examples/python/convert+float+to+int+python+pandas
#   https://docs.dask.org/en/latest/generated/dask.dataframe.DataFrame.assign.html

In [ ]:
#  We have some issues we want to change with our data
#
#  .  Some of the property names have a leading underscore. Change those.
#  .  Some values which should be integer, are float.
#  .  The label values are currently ";Person" and ";Movie". Let's remove those semicolons.

In [ ]:
#  Column renames

df_all_nodes2 = df_all_nodes1.rename(columns={"_id": "id", "_labels": "label"})

print("--")

In [ ]:
#  Change float values to integer, remove leading semicolon from label

df_all_nodes3 = df_all_nodes2.assign(
   # born     = lambda x: x.born.fillna(0.0).astype(int), 
   born     = lambda x: x.born.fillna(0.0).astype(str), 
   # id       = lambda x: x.id.fillna(0.0).astype(int),
   id       = lambda x: x.id.fillna(0.0).astype(str),
   # released = lambda x: x.released.fillna(0.0).astype(int),
   released = lambda x: x.released.fillna(0.0).astype(str),
   label    = lambda x: x.label.astype(str).str[1:]
   )

print("--")

In [ ]:
display(len(df_all_nodes3))
display(df_all_nodes3.head(10))

In [ ]:
# ##################################################################

In [ ]:
#  Now, populate Persons and Movies

df_persons = df_all_nodes3[df_all_nodes3["label"] == "Person"][["id", "label", "born", "name"]]

df_movies  = df_all_nodes3[df_all_nodes3["label"] == "Movie"][["id", "label", "released", "tagline", "title"]]

print("--")

In [ ]:

display(len(df_persons))
display(df_persons.head(10))
display(len(df_movies))
display(df_movies.head(10))

In [ ]:
# ##################################################################
#
#  Repeat the style of work from above, but now for edges
#
#  .  Some of the property names have a leading underscore. Change those.
#  .  Some values which should be integer, are float.

In [ ]:
#  Load a DataFrame from CSV, Edges

l_InputFile  = "./10_NMovieDB/25_edges.txt"

df_all_edges1 = dd.read_csv(
   l_InputFile,
   delimiter = ",",
   dtype = {
      # "_start"    : float,
      "_start"    : np.dtype('O'),
      # "_end"      : float, 
      "_end"      : np.dtype('O'),
      "_type"     : np.dtype('O'),
      # "rating"    : float,
      "rating"    : np.dtype('O'),
      "roles"     : np.dtype('O'),
      "summary"   : np.dtype('O')
      })

print("--")

In [ ]:
display(len(df_all_edges1))
display(df_all_edges1.head(10))

In [ ]:
df_all_edges2 = df_all_edges1.rename(columns={"_start": "START_ID", "_end": "END_ID", "_type": "TYPE",
   "rating": "RATING", "roles": "ROLES", "summary": "SUMMARY"})

df_all_edges3 = df_all_edges2.assign(
   # START_ID = lambda x: x.START_ID.fillna(0.0).astype(int), 
   START_ID = lambda x: x.START_ID.fillna(0.0).astype(str), 
   # END_ID   = lambda x: x.END_ID.fillna(0.0).astype(int),
   END_ID   = lambda x: x.END_ID.fillna(0.0).astype(str),
   # RATING   = lambda x: x.RATING.fillna(0.0).astype(int)
   RATING   = lambda x: x.RATING.fillna(0.0).astype(str)
   )

print("--")

In [ ]:
display(len(df_all_edges3))
display(df_all_edges3.head(10))

In [ ]:
#  Split out the various edges

df_reviewed = df_all_edges3[df_all_edges3["TYPE"] == "REVIEWED"][["START_ID", "END_ID", "TYPE", "RATING", "SUMMARY"]]

df_wrote    = df_all_edges3[df_all_edges3["TYPE"] == "WROTE"   ][["START_ID", "END_ID", "TYPE"]]

df_produced = df_all_edges3[df_all_edges3["TYPE"] == "PRODUCED"][["START_ID", "END_ID", "TYPE"]]

df_directed = df_all_edges3[df_all_edges3["TYPE"] == "DIRECTED"][["START_ID", "END_ID", "TYPE"]]

df_follows  = df_all_edges3[df_all_edges3["TYPE"] == "FOLLOWS" ][["START_ID", "END_ID", "TYPE"]]

#  "roles" is a string similar to  '[ "a", "b", "c" ]'
#
#  This was automatically coming in as a list-
#  Cool

df_actedin  = df_all_edges3[df_all_edges3["TYPE"] == "ACTED_IN"][["START_ID", "END_ID", "TYPE", "ROLES"]]

print("--")

In [ ]:

display(len(df_reviewed))
display(df_reviewed.head(2))

display(len(df_wrote))
display(df_wrote.head(2))

display(len(df_produced))
display(df_produced.head(2))

display(len(df_directed))
display(df_directed.head(2))

display(len(df_follows))
display(df_follows.head(2))

display(len(df_actedin))
display(df_actedin.head(2))

In [ ]:
# ##################################################################

In [ ]:
#  Didn't need this; also don't know if it had any effect

# from dask.distributed import Client
# client = Client(n_workers=4, threads_per_worker=2)

# print("--")

In [ ]:
# ##################################################################
#
#  Finally now, load the vertices/nodes into a graph
#
#  Some hinkiness we need to work around ..
#
#     .  The Dask DataFrames here were loaded from CSV, and those CSV
#        files were found, in scope.
#        The KG DataFrame importer will reference that same file
#        pathname, and the file will not be in scope. Basically,
#        it was expected that these files be on S3/GS all along.
#        I hate to have that dependency because, just one more thing
#        to have to manage.
#
#     .  So, we'll copy the DataFrames to Dask arrays, then back into
#        a Dask DataFrame.
#        Why not just copy the DaskDataFrame ?  Currently there is only 
#        shallow copies of DataFrames.
#
#  See,
#     https://stackoverflow.com/questions/52119342/how-do-i-convert-a-dask-dataframe-into-a-dask-array
#     https://docs.dask.org/en/latest/generated/dask.dataframe.from_dask_array.html


da_persons    = df_persons.to_dask_array()
da_movies     = df_movies.to_dask_array()
   #
da_directed   = df_directed.to_dask_array()
da_reviewed   = df_reviewed.to_dask_array()
da_wrote      = df_wrote.to_dask_array()
da_produced   = df_produced.to_dask_array()
da_follows    = df_follows.to_dask_array()
da_actedin    = df_actedin.to_dask_array()


df_persons2   = dd.io.from_dask_array(da_persons,  columns=["id", "label", "born", "name"]).compute()
df_movies2    = dd.io.from_dask_array(da_movies,   columns=["id", "label", "released", "tagline", "title"]).compute()
   #
df_directed2  = dd.io.from_dask_array(da_directed, columns=["START_ID", "END_ID", "TYPE"]).compute()
df_reviewed2  = dd.io.from_dask_array(da_reviewed, columns=["START_ID", "END_ID", "TYPE", "RATING", "SUMMARY"]).compute()
df_wrote2     = dd.io.from_dask_array(da_wrote, columns=["START_ID", "END_ID", "TYPE"]).compute()
df_produced2  = dd.io.from_dask_array(da_produced, columns=["START_ID", "END_ID", "TYPE"]).compute()
df_follows2   = dd.io.from_dask_array(da_follows, columns=["START_ID", "END_ID", "TYPE"]).compute()
df_actedin2   = dd.io.from_dask_array(da_actedin, columns=["START_ID", "END_ID", "TYPE", "ROLES"]).compute()

print("--")

In [ ]:
from katana_enterprise.remote import import_data

print("--")

In [ ]:

with import_data.DataFrameImporter(my_graph) as df_importer:
    
   # Person
   #
   df_importer.nodes_dataframe(
      df_persons2[["id", "label", "born", "name"]],
      id_column  = "id",
      id_space   = "Person"
      )
   #  Movie
   #
   df_importer.nodes_dataframe(
      df_movies2[["id", "label", "title", "tagline"]],
      id_column  = "id",
      id_space   = "Movie"
      )  
    
   #  DIRECTED
   #
   df_importer.edges_dataframe(
      df_directed2[["START_ID", "END_ID", "TYPE"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "DIRECTED"
      )
   #  REVIEWED
   #
   df_importer.edges_dataframe(
      df_reviewed2[["START_ID", "END_ID", "TYPE", "RATING", "SUMMARY"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "REVIEWED"
      )
   #  WROTE
   #
   df_importer.edges_dataframe(
      df_wrote2[["START_ID", "END_ID", "TYPE"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "WROTE"
      )
   #  PRODUCED
   #
   df_importer.edges_dataframe(
      df_produced2[["START_ID", "END_ID", "TYPE"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "PRODUCED"
      )
   #  FOLLOWS
   #
   df_importer.edges_dataframe(
      df_follows2[["START_ID", "END_ID", "TYPE"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "FOLLOWS"
      )
   #  ACTEDIN
   #
   df_importer.edges_dataframe(
      df_actedin2[["START_ID", "END_ID", "TYPE", "ROLES"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "ACTEDIN"
      )

   df_importer.execute()

In [ ]:

l_result1 = my_graph.query("""

   MATCH (a) 
   WITH DISTINCT LABELS(a) AS temp, COUNT(a) AS tempCnt
   UNWIND temp AS label
   RETURN label, SUM(tempCnt) AS cnt
   ORDER BY label
   
   """)

display(print(l_result1))

In [ ]:

l_result1 = my_graph.query("""

   MATCH (m)-[r]->(n) 
   WITH DISTINCT TYPE(r) AS temp, COUNT(r) AS tempCnt
   RETURN temp, tempCnt
   ORDER BY temp

   """)

display(print(l_result1))

In [ ]:

result = my_graph.query("""

   MATCH (x) -[r]-> (a)
   RETURN x, r AS rel, a
   
   """,
   contextualize=True)

result.view()

# Output a graph as a a local file

In [ ]:

l_result1 = my_graph.query("""
   MATCH (n:Person) 
   RETURN n
   """)
      #
display(print(l_result1))

print (type(l_result1))
#
#  <class 'katana.remote.ResultSet'>

l_result2 = my_graph.query("""
   MATCH (n) - [r: WROTE] -> (m)
   RETURN r
   """)
      #
display(print(l_result2))

In [72]:

l_nodes = []
   #
for l_node in l_result1.iterrows():
   l_nodes.append(l_node)


l_file = open("test.txt", "w")
   #
for l_node in l_nodes:

    # numpy.savetxt(l_file, l_node)


l_file.close()

IndentationError: expected an indented block (878012384.py, line 14)

In [70]:

print(type(aaa))

print(aaa)

<class 'list'>
[(0, n.internal_id            16
n.labels           [Person]
n.born               1967.0
n.id                   70.0
n.label              Person
n.name           Steve Zahn
n.type                 node
Name: 0, dtype: object), (1, n.internal_id           17
n.labels          [Person]
n.born              1956.0
n.id                  71.0
n.label             Person
n.name           Tom Hanks
n.type                node
Name: 1, dtype: object), (2, n.internal_id             18
n.labels            [Person]
n.born                1941.0
n.id                    72.0
n.label               Person
n.name           Nora Ephron
n.type                  node
Name: 2, dtype: object), (3, n.internal_id               19
n.labels              [Person]
n.born                  1949.0
n.id                      76.0
n.label                 Person
n.name           Victor Garber
n.type                    node
Name: 3, dtype: object), (4, n.internal_id               20
n.labels              [Person]
n.born                  1956.0
n.id                      83.0
n.label                 Person
n.name           Carrie Fisher
n.type                    node
Name: 4, dtype: object), (5, n.internal_id           21
n.labels          [Person]
n.born              1977.0
n.id                  86.0
n.label             Person
n.name           Liv Tyler
n.type                node
Name: 5, dtype: object), (6, n.internal_id                22
n.labels               [Person]
n.born                   1970.0
n.id                       88.0
n.label                  Person
n.name           Brooke Langton
n.type                     node
Name: 6, dtype: object), (7, n.internal_id               23
n.labels              [Person]
n.born                  1968.0
n.id                      90.0
n.label                 Person
n.name           Orlando Jones
n.type                    node
Name: 7, dtype: object), (8, n.internal_id                46
n.labels               [Person]
n.born                   1943.0
n.id                      166.0
n.label                  Person
n.name           Penny Marshall
n.type                     node
Name: 8, dtype: object), (9, n.internal_id              47
n.labels             [Person]
n.born                    0.0
n.id                    168.0
n.label                Person
n.name           Angela Scope
n.type                   node
Name: 9, dtype: object), (10, n.internal_id                48
n.labels               [Person]
n.born                      0.0
n.id                      170.0
n.label                  Person
n.name           James Thompson
n.type                     node
Name: 10, dtype: object), (11, n.internal_id              39
n.labels             [Person]
n.born                 1968.0
n.id                    133.0
n.label                Person
n.name           Sam Rockwell
n.type                   node
Name: 11, dtype: object), (12, n.internal_id                40
n.labels               [Person]
n.born                   1959.0
n.id                      136.0
n.label                  Person
n.name           Frank Darabont
n.type                     node
Name: 12, dtype: object), (13, n.internal_id              41
n.labels             [Person]
n.born                 1960.0
n.id                    140.0
n.label                Person
n.name           Oliver Platt
n.type                   node
Name: 13, dtype: object), (14, n.internal_id                        42
n.labels                       [Person]
n.born                           1967.0
n.id                              148.0
n.label                          Person
n.name           Philip Seymour Hoffman
n.type                             node
Name: 14, dtype: object), (15, n.internal_id             43
n.labels            [Person]
n.born                1943.0
n.id                   149.0
n.label               Person
n.name           Jan de Bont
n.type                  node
Name: 15, dtype: object), (16, n.internal_id              44
n.labels             [Person]
n.born                 1932.0
n.id                    153.0
n.label                Person
n.name           Milos Forman
n.type                   node
Name: 16, dtype: object), (17, n.internal_id            45
n.labels           [Person]
n.born               1963.0
n.id                  165.0
n.label              Person
n.name           Lori Petty
n.type                 node
Name: 17, dtype: object), (18, n.internal_id                  8
n.labels                [Person]
n.born                    1974.0
n.id                        40.0
n.label                   Person
n.name           Jerry O'Connell
n.type                      node
Name: 18, dtype: object), (19, n.internal_id                    9
n.labels                  [Person]
n.born                      1996.0
n.id                          44.0
n.label                     Person
n.name           Jonathan Lipnicki
n.type                        node
Name: 19, dtype: object), (20, n.internal_id             10
n.labels            [Person]
n.born                1966.0
n.id                    50.0
n.label               Person
n.name           John Cusack
n.type                  node
Name: 20, dtype: object), (21, n.internal_id            11
n.labels           [Person]
n.born               1963.0
n.id                   53.0
n.label              Person
n.name           Helen Hunt
n.type                 node
Name: 21, dtype: object), (22, n.internal_id               12
n.labels              [Person]
n.born                  1929.0
n.id                      58.0
n.label                 Person
n.name           Max von Sydow
n.type                    node
Name: 22, dtype: object), (23, n.internal_id           13
n.labels          [Person]
n.born              1971.0
n.id                  64.0
n.label             Person
n.name           Rick Yune
n.type                node
Name: 23, dtype: object), (24, n.internal_id                14
n.labels               [Person]
n.born                   1940.0
n.id                       65.0
n.label                  Person
n.name           James Cromwell
n.type                     node
Name: 24, dtype: object), (25, n.internal_id              15
n.labels             [Person]
n.born                 1968.0
n.id                     68.0
n.label                Person
n.name           Parker Posey
n.type                   node
Name: 25, dtype: object), (26, n.internal_id               24
n.labels              [Person]
n.born                  1950.0
n.id                      91.0
n.label                 Person
n.name           Howard Deutch
n.type                    node
Name: 26, dtype: object), (27, n.internal_id                25
n.labels               [Person]
n.born                   1974.0
n.id                       93.0
n.label                  Person
n.name           Christian Bale
n.type                     node
Name: 27, dtype: object), (28, n.internal_id              26
n.labels             [Person]
n.born                 1954.0
n.id                     94.0
n.label                Person
n.name           Zach Grenier
n.type                   node
Name: 28, dtype: object), (29, n.internal_id              27
n.labels             [Person]
n.born                 1931.0
n.id                     96.0
n.label                Person
n.name           Mike Nichols
n.type                   node
Name: 29, dtype: object), (30, n.internal_id                28
n.labels               [Person]
n.born                   1930.0
n.id                       98.0
n.label                  Person
n.name           Richard Harris
n.type                     node
Name: 30, dtype: object), (31, n.internal_id                29
n.labels               [Person]
n.born                   1930.0
n.id                       99.0
n.label                  Person
n.name           Clint Eastwood
n.type                     node
Name: 31, dtype: object), (32, n.internal_id          30
n.labels         [Person]
n.born             1958.0
n.id                103.0
n.label            Person
n.name              Ice-T
n.type               node
Name: 32, dtype: object), (33, n.internal_id              31
n.labels             [Person]
n.born                 1953.0
n.id                    104.0
n.label                Person
n.name           Robert Longo
n.type                   node
Name: 33, dtype: object), (34, n.internal_id                   0
n.labels                 [Person]
n.born                     1967.0
n.id                          2.0
n.label                    Person
n.name           Carrie-Anne Moss
n.type                       node
Name: 34, dtype: object), (35, n.internal_id                  1
n.labels                [Person]
n.born                    1975.0
n.id                        12.0
n.label                   Person
n.name           Charlize Theron
n.type                      node
Name: 35, dtype: object), (36, n.internal_id            2
n.labels          [Person]
n.born              1940.0
n.id                  13.0
n.label             Person
n.name           Al Pacino
n.type                node
Name: 36, dtype: object), (37, n.internal_id             3
n.labels           [Person]
n.born               1962.0
n.id                   16.0
n.label              Person
n.name           Tom Cruise
n.type                 node
Name: 37, dtype: object), (38, n.internal_id                    4
n.labels                  [Person]
n.born                      1966.0
n.id                          20.0
n.label                     Person
n.name           Kiefer Sutherland
n.type                        node
Name: 38, dtype: object), (39, n.internal_id                   5
n.labels                 [Person]
n.born                     1968.0
n.id                         22.0
n.label                    Person
n.name           Cuba Gooding Jr.
n.type                       node
Name: 39, dtype: object), (40, n.internal_id             6
n.labels           [Person]
n.born               1944.0
n.id                   35.0
n.label              Person
n.name           Tony Scott
n.type                 node
Name: 40, dtype: object), (41, n.internal_id                  7
n.labels                [Person]
n.born                    1969.0
n.id                        38.0
n.label                   Person
n.name           Renee Zellweger
n.type                      node
Name: 41, dtype: object), (42, n.internal_id             32
n.labels            [Person]
n.born                1966.0
n.id                   106.0
n.label               Person
n.name           Halle Berry
n.type                  node
Name: 42, dtype: object), (43, n.internal_id               33
n.labels              [Person]
n.born                  1976.0
n.id                     113.0
n.label                 Person
n.name           Audrey Tautou
n.type                    node
Name: 43, dtype: object), (44, n.internal_id                 34
n.labels                [Person]
n.born                    1981.0
n.id                       117.0
n.label                   Person
n.name           Natalie Portman
n.type                      node
Name: 44, dtype: object), (45, n.internal_id           35
n.labels          [Person]
n.born              1940.0
n.id                 119.0
n.label             Person
n.name           John Hurt
n.type                node
Name: 45, dtype: object), (46, n.internal_id              36
n.labels             [Person]
n.born                 1985.0
n.id                    122.0
n.label                Person
n.name           Emile Hirsch
n.type                   node
Name: 46, dtype: object), (47, n.internal_id              37
n.labels             [Person]
n.born                 1960.0
n.id                    123.0
n.label                Person
n.name           John Goodman
n.type                   node
Name: 47, dtype: object), (48, n.internal_id          38
n.labels         [Person]
n.born             1982.0
n.id                127.0
n.label            Person
n.name               Rain
n.type               node
Name: 48, dtype: object), (49, n.internal_id    281474976710672
n.labels                [Person]
n.born                    1940.0
n.id                        55.0
n.label                   Person
n.name           James L. Brooks
n.type                      node
Name: 49, dtype: object), (50, n.internal_id      281474976710673
n.labels                  [Person]
n.born                      1960.0
n.id                          57.0
n.label                     Person
n.name           Annabella Sciorra
n.type                        node
Name: 50, dtype: object), (51, n.internal_id    281474976710674
n.labels                [Person]
n.born                    1942.0
n.id                        59.0
n.label                   Person
n.name             Werner Herzog
n.type                      node
Name: 51, dtype: object), (52, n.internal_id    281474976710675
n.labels                [Person]
n.born                    1956.0
n.id                        61.0
n.label                   Person
n.name              Vincent Ward
n.type                      node
Name: 52, dtype: object), (53, n.internal_id    281474976710676
n.labels                [Person]
n.born                    1970.0
n.id                        63.0
n.label                   Person
n.name               Ethan Hawke
n.type                      node
Name: 53, dtype: object), (54, n.internal_id    281474976710677
n.labels                [Person]
n.born                    1973.0
n.id                        69.0
n.label                   Person
n.name            Dave Chappelle
n.type                      node
Name: 54, dtype: object), (55, n.internal_id    281474976710678
n.labels                [Person]
n.born                    1956.0
n.id                        74.0
n.label                   Person
n.name               Rita Wilson
n.type                      node
Name: 55, dtype: object), (56, n.internal_id    281474976710679
n.labels                [Person]
n.born                    1962.0
n.id                        77.0
n.label                   Person
n.name           Rosie O'Donnell
n.type                      node
Name: 56, dtype: object), (57, n.internal_id    281474976710687
n.labels                [Person]
n.born                    1971.0
n.id                       114.0
n.label                   Person
n.name              Paul Bettany
n.type                      node
Name: 57, dtype: object), (58, n.internal_id    281474976710688
n.labels                [Person]
n.born                    1946.0
n.id                       118.0
n.label                   Person
n.name               Stephen Rea
n.type                      node
Name: 58, dtype: object), (59, n.internal_id    281474976710689
n.labels                [Person]
n.born                    1967.0
n.id                       120.0
n.label                   Person
n.name                 Ben Miles
n.type                      node
Name: 59, dtype: object), (60, n.internal_id    281474976710690
n.labels                [Person]
n.born                    1946.0
n.id                       124.0
n.label                   Person
n.name            Susan Sarandon
n.type                      node
Name: 60, dtype: object), (61, n.internal_id    281474976710691
n.labels                [Person]
n.born                       0.0
n.id                       129.0
n.label                   Person
n.name             Naomie Harris
n.type                      node
Name: 61, dtype: object), (62, n.internal_id    281474976710692
n.labels                [Person]
n.born                    1938.0
n.id                       138.0
n.label                   Person
n.name            Frank Langella
n.type                      node
Name: 62, dtype: object), (63, n.internal_id    281474976710693
n.labels                [Person]
n.born                    1965.0
n.id                       143.0
n.label                   Person
n.name            John C. Reilly
n.type                      node
Name: 63, dtype: object), (64, n.internal_id    281474976710656
n.labels                [Person]
n.born                    1964.0
n.id                         1.0
n.label                   Person
n.name              Keanu Reeves
n.type                      node
Name: 64, dtype: object), (65, n.internal_id       281474976710657
n.labels                   [Person]
n.born                       1961.0
n.id                            3.0
n.label                      Person
n.name           Laurence Fishburne
n.type                         node
Name: 65, dtype: object), (66, n.internal_id    281474976710658
n.labels                [Person]
n.born                    1978.0
n.id                         8.0
n.label                   Person
n.name               Emil Eifrem
n.type                      node
Name: 66, dtype: object), (67, n.internal_id    281474976710659
n.labels                [Person]
n.born                    1937.0
n.id                        17.0
n.label                   Person
n.name            Jack Nicholson
n.type                      node
Name: 67, dtype: object), (68, n.internal_id    281474976710660
n.labels                [Person]
n.born                    1962.0
n.id                        18.0
n.label                   Person
n.name                Demi Moore
n.type                      node
Name: 68, dtype: object), (69, n.internal_id    281474976710661
n.labels                [Person]
n.born                    1971.0
n.id                        21.0
n.label                   Person
n.name                 Noah Wyle
n.type                      node
Name: 69, dtype: object), (70, n.internal_id      281474976710662
n.labels                  [Person]
n.born                      1948.0
n.id                          26.0
n.label                     Person
n.name           Christopher Guest
n.type                        node
Name: 70, dtype: object), (71, n.internal_id    281474976710663
n.labels                [Person]
n.born                    1961.0
n.id                        28.0
n.label                   Person
n.name              Aaron Sorkin
n.type                      node
Name: 71, dtype: object), (72, n.internal_id    281474976710694
n.labels                [Person]
n.born                    1951.0
n.id                       151.0
n.label                   Person
n.name           Robert Zemeckis
n.type                      node
Name: 72, dtype: object), (73, n.internal_id    281474976710695
n.labels                [Person]
n.born                    1958.0
n.id                       158.0
n.label                   Person
n.name            Chris Columbus
n.type                      node
Name: 73, dtype: object), (74, n.internal_id    281474976710696
n.labels                [Person]
n.born                       0.0
n.id                       167.0
n.label                   Person
n.name               Paul Blythe
n.type                      node
Name: 74, dtype: object), (75, n.internal_id    281474976710664
n.labels                [Person]
n.born                    1962.0
n.id                        32.0
n.label                   Person
n.name           Anthony Edwards
n.type                      node
Name: 75, dtype: object), (76, n.internal_id    281474976710665
n.labels                [Person]
n.born                    1941.0
n.id                        36.0
n.label                   Person
n.name                  Jim Cash
n.type                      node
Name: 76, dtype: object), (77, n.internal_id    281474976710666
n.labels                [Person]
n.born                    1970.0
n.id                        41.0
n.label                   Person
n.name                  Jay Mohr
n.type                      node
Name: 77, dtype: object), (78, n.internal_id    281474976710667
n.labels                [Person]
n.born                    1961.0
n.id                        42.0
n.label                   Person
n.name               Bonnie Hunt
n.type                      node
Name: 78, dtype: object), (79, n.internal_id    281474976710668
n.labels                [Person]
n.born                    1971.0