
<div> 
<img src="./01_Images/88_KG-Logo-1.png" alt="Drawing" style="width: 800px;"/>
</div>

In [1]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate


   ###

    
#  How to use tabulate-
#
l_result = [{ "col1": 20, "col2": 30}]
   #
print(tabulate(l_result, headers='keys', tablefmt='psql'))


print("--")


#  Hello world

+--------+--------+
|   col1 |   col2 |
|--------+--------|
|     20 |     30 |
+--------+--------+
--

In [ ]:

from katana import remote

my_client = remote.Client()

print(my_client)

In [ ]:

NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"

print("--")

In [ ]:

#  CONNECT TO GRAPH

my_graph, *_ = my_client.get_database(name=DB_NAME).find_graphs_by_name(GRAPH_NAME)

print(my_graph)

In [ ]:
# ##################################################################

In [ ]:

display(my_graph.num_nodes())
display(my_graph.num_edges())

In [ ]:

l_rows = 10

l_query  = """
   MATCH (n) 
   RETURN n
   LIMIT {0}
   """.format(l_rows)

l_result = my_graph.query(l_query)

print(l_result)