In [17]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate

print("--")

--

#  Setup stuff: Connectivity

In [18]:

from katana import remote
from katana.remote import import_data


my_client = remote.Client()

print(my_client)

<katana_enterprise.remote.sync_wrappers.Client object at 0x7fc1854a9850>

In [19]:

NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"

print("--")

--

In [20]:

#  DELETE ALL GRAPHS

for l_database in my_client.databases():
   for l_graph in my_client.get_database(name=l_database.name).graphs_in_database():
      l_handle=my_client.get_database(name=l_database.name).get_graph_by_id(id=l_graph.graph_id)
      l_handle.delete()

for l_graph in my_client.graphs():
   print("GRAPH ID: ", l_graph.graph_id, "      GRAPH Version: ", l_graph.version)

print("--")

--

In [ ]:

#  DELETE ALL DATABASES

for l_database in my_client.databases():
   if (l_database.name != "default"):
      my_client.get_database(name=l_database.name).delete_database()
      print("--")

for l_database in my_client.databases():
   print("DB ID: ", l_database.database_id, "     DB Name: ", l_database.name)

In [ ]:

#  CREATE DATABASE

my_database = my_client.create_database(name=DB_NAME)

print(my_database.database_id)

In [21]:

#  CREATE GRAPH
#
my_graph = my_client.get_database(name=DB_NAME).create_graph(name=GRAPH_NAME, num_partitions=NUM_PARTITIONS)

print(my_graph)

<_Graph my_graph, HHL6d7YqrtAGMT5vsA6B1BSZkDPrEiEPy9tC7Sv3xVVJ, 0>

In [ ]:

#  CONNECT TO GRAPH

my_graph, *_ = my_client.get_database(name=DB_NAME).find_graphs_by_name(GRAPH_NAME)

print(my_graph)

# Create: Vertices/nodes, edges ..

In [ ]:
# import pandas as pd
# 
# print("--")

In [22]:

#  Create Vertices/Nodes ..

df_airports = pd.DataFrame([
       #
   ["MKE" , "Milwaukee"               , "Airport"],
   ["ORD" , "Chicago O-Hare"          , "Airport"],
   ["SJC" , "San Jose"                , "Airport"],
   ["DEN" , "Denver"                  , "Airport"],
       #
   ], columns = ["id", "airport_name", "LABEL"])
      #
print(tabulate(df_airports, headers='keys', tablefmt='psql'))

df_persons = pd.DataFrame([
       #
   ["BOB" , "Bob"                     , "Person" ],
   ["HADI", "Hadi"                    , "Person" ],
   ["TIM" , "Tim"                     , "Person" ],
   ["SAM" , "Sam"                     , "Person" ],
       #
   ], columns = ["id", "person_name" , "LABEL"])
      #
print(tabulate(df_persons, headers='keys', tablefmt='psql'))

#  Sample output,
#
#     +----+------+----------------+---------+
#     |    | id   | airport_name   | LABEL   |
#     |----+------+----------------+---------|
#     |  0 | MKE  | Milwaukee      | Airport |
#     |  1 | ORD  | Chicago O-Hare | Airport |
#     |  2 | SJC  | San Jose       | Airport |
#     |  3 | DEN  | Denver         | Airport |
#     +----+------+----------------+---------+
#     +----+------+---------------+---------+
#     |    | id   | person_name   | LABEL   |
#     |----+------+---------------+---------|
#     |  0 | BOB  | Bob           | Person  |
#     |  1 | HADI | Hadi          | Person  |
#     |  2 | TIM  | Tim           | Person  |
#     |  3 | SAM  | Sam           | Person  |
#     +----+------+---------------+---------+

+----+------+----------------+---------+
|    | id   | airport_name   | LABEL   |
|----+------+----------------+---------|
|  0 | MKE  | Milwaukee      | Airport |
|  1 | ORD  | Chicago O-Hare | Airport |
|  2 | SJC  | San Jose       | Airport |
|  3 | DEN  | Denver         | Airport |
+----+------+----------------+---------+
+----+------+---------------+---------+
|    | id   | person_name   | LABEL   |
|----+------+---------------+---------|
|  0 | BOB  | Bob           | Person  |
|  1 | HADI | Hadi          | Person  |
|  2 | TIM  | Tim           | Person  |
|  3 | SAM  | Sam           | Person  |
+----+------+---------------+---------+

In [23]:

#  Create the Edge/Relationships ..

df_relates_to_N = pd.DataFrame([
      #
   ["BOB" , "ORD" , "RELATES_TO"],
      #
   ["HADI", "MKE" , "RELATES_TO"],
   ["HADI", "ORD" , "RELATES_TO"],
      #
   ["BOB" , "DEN" , "RELATES_TO"],
      #
   ], columns = ["START_ID", "END_ID", "TYPE"])
      #
print(tabulate(df_relates_to_N, headers='keys', tablefmt='psql'))

df_relates_to_S = pd.DataFrame([
      #
   ["ORD" , "BOB" , "RELATES_TO"],
      #
   ["MKE" , "HADI", "RELATES_TO"],
      #
   ["DEN" , "TIM" , "RELATES_TO"],
   ["DEN" , "TIM" , "RELATES_TO"],
      #
   ], columns = ["START_ID", "END_ID", "TYPE"])
      #
print(tabulate(df_relates_to_S, headers='keys', tablefmt='psql'))

#  Sample output,
#
#     +----+------------+----------+------------+
#     |    | START_ID   | END_ID   | TYPE       |
#     |----+------------+----------+------------|
#     |  0 | BOB        | ORD      | RELATES_TO |
#     |  1 | HADI       | MKE      | RELATES_TO |
#     |  2 | HADI       | ORD      | RELATES_TO |
#     |  3 | BOB        | DEN      | RELATES_TO |
#     +----+------------+----------+------------+
#     +----+------------+----------+------------+
#     |    | START_ID   | END_ID   | TYPE       |
#     |----+------------+----------+------------|
#     |  0 | ORD        | BOB      | RELATES_TO |
#     |  1 | MKE        | HADI     | RELATES_TO |
#     |  2 | DEN        | TIM      | RELATES_TO |
#     |  3 | DEN        | TIM      | RELATES_TO |
#     +----+------------+----------+------------+

+----+------------+----------+------------+
|    | START_ID   | END_ID   | TYPE       |
|----+------------+----------+------------|
|  0 | BOB        | ORD      | RELATES_TO |
|  1 | HADI       | MKE      | RELATES_TO |
|  2 | HADI       | ORD      | RELATES_TO |
|  3 | BOB        | DEN      | RELATES_TO |
+----+------------+----------+------------+
+----+------------+----------+------------+
|    | START_ID   | END_ID   | TYPE       |
|----+------------+----------+------------|
|  0 | ORD        | BOB      | RELATES_TO |
|  1 | MKE        | HADI     | RELATES_TO |
|  2 | DEN        | TIM      | RELATES_TO |
|  3 | DEN        | TIM      | RELATES_TO |
+----+------------+----------+------------+

In [26]:

#  Import the previously created Python PandasDataFrames into KatanaGraph ..


with import_data.DataFrameImporter(my_graph) as df_importer:   
   df_importer.nodes_dataframe(
      df_airports,
      id_column             = "id",
      id_space              = "Airport",  
      label                 = "Airport",  
      )
   df_importer.insert()
 
with import_data.DataFrameImporter(my_graph) as df_importer:   
   df_importer.nodes_dataframe(
      df_persons,
      id_column             = "id",
      id_space              = "Person",  
      label                 = "Person",  
      )
   df_importer.insert()
 

with import_data.DataFrameImporter(my_graph) as df_importer:   
   df_importer.edges_dataframe(
      df_relates_to_N,
      source_id_space       = "Person", 
      destination_id_space  = "Airport",   
      source_column         = "START_ID",
      destination_column    = "END_ID",
      type                  = "RELATES_TO"
      )
         #
   df_importer.node_id_property_name("id")
      #
   df_importer.insert()
 
with import_data.DataFrameImporter(my_graph) as df_importer:   
   df_importer.edges_dataframe(
      df_relates_to_S,
      source_id_space       = "Airport", 
      destination_id_space  = "Person",   
      source_column         = "START_ID",
      destination_column    = "END_ID",
      type                  = "RELATES_TO"
      )
         #
   df_importer.node_id_property_name("id")
      #
   df_importer.insert()


print("--")

          0/? [?op/s]

          0/? [?op/s]

          0/? [?op/s]

          0/? [?op/s]

          0/? [?op/s]

          0/? [?op/s]

          0/? [?op/s]

          0/? [?op/s]

--

#  Verifying Results ..

In [27]:

display(my_graph.num_nodes())
display(my_graph.num_edges())

#  Sample output,
#
#     8
#     8

          0/? [?op/s]

8

          0/? [?op/s]

8

In [29]:

#  What's in the graph ..

l_result = my_graph.query("""
   MATCH ( n ) 
   RETURN COUNT(*)
   """)
print(tabulate(l_result, headers='keys', tablefmt='psql'))

#  Sample output,  this is correct
#
#     +----+------------+
#     |    |   COUNT(*) |
#     |----+------------|
#     |  0 |          8 |
#     +----+------------+

          0/? [?op/s]

+----+------------+
|    |   COUNT(*) |
|----+------------|
|  0 |          8 |
+----+------------+

In [33]:

#  What's in the graph ..

l_result = my_graph.query("""
   MATCH (n) - [r] -> (m)
   RETURN COUNT(r)
   """)
print(tabulate(l_result, headers='keys', tablefmt='psql'))

#  Sample output,  this is correct
#
#     +----+------------+
#     |    |   COUNT(r) |
#     |----+------------|
#     |  0 |          8 |
#     +----+------------+

          0/? [?op/s]

+----+------------+
|    |   COUNT(r) |
|----+------------|
|  0 |          8 |
+----+------------+

In [34]:

#  What's in the graph ..

l_result = my_graph.query("""
   MATCH (n: Person) - [r] -> (m: Airport)
   RETURN COUNT(r)
   """)
print(tabulate(l_result, headers='keys', tablefmt='psql'))

#  Sample output,  this is correct
#
#     +----+------------+
#     |    |   COUNT(r) |
#     |----+------------|
#     |  0 |          4 |
#     +----+------------+

          0/? [?op/s]

+----+------------+
|    |   COUNT(r) |
|----+------------|
|  0 |          4 |
+----+------------+

In [35]:

#  What's in the graph ..

l_result = my_graph.query("""
   MATCH (n: Airport) - [r] -> (m: Person)
   RETURN COUNT(r)
   """)
print(tabulate(l_result, headers='keys', tablefmt='psql'))

#  Sample output,  this is correct
#
#     +----+------------+
#     |    |   COUNT(r) |
#     |----+------------|
#     |  0 |          4 |
#     +----+------------+

          0/? [?op/s]

+----+------------+
|    |   COUNT(r) |
|----+------------|
|  0 |          4 |
+----+------------+

In [36]:

#  What's in the graph ..

l_result = my_graph.query("""
   MATCH (n: Person) - [r] - (m: Airport)
   RETURN COUNT(r)
   """)
print(tabulate(l_result, headers='keys', tablefmt='psql'))

#  Sample output,  this is correct
#
#     +----+------------+
#     |    |   COUNT(r) |
#     |----+------------|
#     |  0 |          8 |
#     +----+------------+

          0/? [?op/s]

+----+------------+
|    |   COUNT(r) |
|----+------------|
|  0 |          8 |
+----+------------+