#  Setup stuff: Connectivity

In [43]:
import os

from katana import remote
from katana.remote import import_data

my_client = remote.Client()

print(my_client)

<katana_enterprise.remote.sync_wrappers.Client object at 0x7fd2ba2f12b0>

In [44]:

NUM_PARTITIONS = 3
   #
DB_NAME        = "my_db"
GRAPH_NAME     = "my_graph"

print("--")

--

In [46]:
#  DELETE ALL GRAPHS

for l_database in my_client.databases():
   for l_graph in my_client.get_database(name=l_database.name).graphs_in_database():
      l_handle=my_client.get_database(name=l_database.name).get_graph_by_id(id=l_graph.graph_id)
      l_handle.delete()

for l_graph in my_client.graphs():
   print("GRAPH ID: ", l_graph.graph_id, "      GRAPH Version: ", l_graph.version)

print("--")

--

In [ ]:
#  DELETE ALL DATABASES

for l_database in my_client.databases():
   if (l_database.name != "default"):
      my_client.get_database(name=l_database.name).delete_database()
      print("--")

for l_database in my_client.databases():
   print("DB ID: ", l_database.database_id, "     DB Name: ", l_database.name)

In [ ]:
#  CREATE DATABASE

my_database = my_client.create_database(name=DB_NAME)

print(my_database.database_id)

In [47]:
#  CREATE GRAPH
#
my_graph = my_client.get_database(name=DB_NAME).create_graph(name=GRAPH_NAME, num_partitions=NUM_PARTITIONS)

print(my_graph)

<_Graph my_graph, B1eJPGb9jgP8mm1LYyBTevc2bhQNpTYxXWpu6EAoSASv, 0>

In [ ]:
#  CONNECT TO GRAPH

for l_graph in my_client.get_database(name=DB_NAME).graphs_in_database():
   if (l_graph.name == GRAPH_NAME):
      my_graph=my_client.get_database(name=DB_NAME).get_graph_by_id(id=l_graph.graph_id)
         #
      break

print(my_graph)

#  Setup stuff: Debugging

In [ ]:
#  LIST ALL GRAPHS

for l_graph in my_client.graphs():
   print("GRAPH ID: ", l_graph.graph_id, "     DB GRAPH: ", l_graph.name, "    GRAPH VERSION: ", l_graph.version)

print("--")

In [ ]:
display(my_graph.num_nodes())
display(my_graph.num_edges())

In [ ]:
# ##################################################################

In [ ]:
my_graph.query("CALL graph.schema() RETURN *")

In [ ]:
my_client.widgets().operations()

In [ ]:
# ##################################################################

In [ ]:

l_result = my_graph.query("""

   MATCH (n) - [ r ] -> (m)
   RETURN n, m, r
   
   """, contextualize=True)

l_result.view()

# Create: Vertices/nodes, edges ..

In [48]:
import pandas as pd

print("--")

--

In [49]:
#  Vertices/Nodes, Airports ..

df_airports = pd.DataFrame([
       #
   ["MKE", "Milwaukee"               , "Airport"],
   ["ORD", "Chicago O-Hare"          , "Airport"],
   ["SJC", "San Jose"                , "Airport"],
   ["DEN", "Denver"                  , "Airport"],
       #
   ], columns = ["airport_code", "airport_name", "LABEL"])

df_airports.head(20)

  airport_code    airport_name    LABEL
0          MKE       Milwaukee  Airport
1          ORD  Chicago O-Hare  Airport
2          SJC        San Jose  Airport
3          DEN          Denver  Airport

In [50]:
#  Create the edge, flights ..

df_flights = pd.DataFrame([
      #
   ["MKE", "ORD",   66, 1, "FLIES_TO" ],
   ["ORD", "MKE",   66, 1, "FLIES_TO" ],
      #
   ["ORD", "DEN",  886, 1, "FLIES_TO" ],
   ["DEN", "ORD",  886, 1, "FLIES_TO" ],
      #
   ["SJC", "DEN",  948, 1, "FLIES_TO" ],                           #  Notice SJC flies to/from Denver
   ["DEN", "SJC",  948, 1, "FLIES_TO" ],
      #
   ["SJC", "ORD", 1829, 1, "FLIES_TO" ],                           #  Notice SJC flies to ORD, but not ORD to SJC
      #
   ], columns = ["START_ID", "END_ID", "DISTANCE", "NUM_HOPS", "TYPE"])

df_flights.head(30)

  START_ID END_ID  DISTANCE  NUM_HOPS      TYPE
0      MKE    ORD        66         1  FLIES_TO
1      ORD    MKE        66         1  FLIES_TO
2      ORD    DEN       886         1  FLIES_TO
3      DEN    ORD       886         1  FLIES_TO
4      SJC    DEN       948         1  FLIES_TO
5      DEN    SJC       948         1  FLIES_TO
6      SJC    ORD      1829         1  FLIES_TO

In [51]:

# Import the 2 previously created Python DataFrames into KatanaGraph ..

with import_data.DataFrameImporter(my_graph) as df_importer:   
    
   df_importer.nodes_dataframe(df_airports,                    #  Aiports set of Nodes
      id_column             = "airport_code",
      id_space              = "Airport",  
      label                 = "Airport",  
      )
   
   df_importer.edges_dataframe(df_flights,                     #  Our Edge, specifying the relationship between Airport --> FLIES_TO --> Airport
      source_id_space       = "Airport", 
      destination_id_space  = "Airport",   
      source_column         = "START_ID",
      destination_column    = "END_ID",
      type                  = "FLIES_TO"
      )

print("--")

UserWarning: dtype for DataFrame column 'airport_name' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'LABEL' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'TYPE' is 'object'. Will be inferred as string.

          0/? [?op/s]

          0/? [?op/s]

--

In [ ]:
# ##################################################################

In [52]:
#  What's in the vertices/nodes ..

l_result = my_graph.query("""

   MATCH ( n ) 
   RETURN n
   
   """)

print(l_result[0:30])

          0/? [?op/s]

   n.internal_id   n.labels  n.LABEL  n.airport_name n.id n.type
0              0  [Airport]  Airport       Milwaukee  MKE   node
1              3  [Airport]  Airport          Denver  DEN   node
2              2  [Airport]  Airport        San Jose  SJC   node
3              1  [Airport]  Airport  Chicago O-Hare  ORD   node

In [53]:
#  What's in the edge .. 

l_result = my_graph.query("""

   MATCH ( n )  - [r] ->  (m)
   RETURN * //  n.id AS FROM, m.id AS TO, r.DISTANCE AS DISTANCE, r.NUM_HOPS AS NUM_HOPS
   
   """)

print(l_result[0:30])

          0/? [?op/s]

   m.internal_id   m.labels  m.LABEL  m.airport_name m.id m.type  \
0              1  [Airport]  Airport  Chicago O-Hare  ORD   node
1              1  [Airport]  Airport  Chicago O-Hare  ORD   node
2              2  [Airport]  Airport        San Jose  SJC   node
3              1  [Airport]  Airport  Chicago O-Hare  ORD   node
4              3  [Airport]  Airport          Denver  DEN   node
5              0  [Airport]  Airport       Milwaukee  MKE   node
6              3  [Airport]  Airport          Denver  DEN   node

   n.internal_id   n.labels  n.LABEL  n.airport_name  ... r.end.id  \
0              0  [Airport]  Airport       Milwaukee  ...        1
1              3  [Airport]  Airport          Denver  ...        1
2              3  [Airport]  Airport          Denver  ...        2
3              2  [Airport]  Airport        San Jose  ...        1
4              2  [Airport]  Airport        San Jose  ...        3
5              1  [Airport]  Airport  Chicago O-Hare  ...        0
6              1  [Airport]  Airport  Chicago O-Hare  ...        3

  r.end.labels  r.internal_id   r.label  r.DISTANCE r.NUM_HOPS    r.TYPE  \
0    [Airport]              0  FLIES_TO          66          1  FLIES_TO
1    [Airport]              5  FLIES_TO         886          1  FLIES_TO
2    [Airport]              6  FLIES_TO         948          1  FLIES_TO
3    [Airport]              4  FLIES_TO        1829          1  FLIES_TO
4    [Airport]              3  FLIES_TO         948          1  FLIES_TO
5    [Airport]              1  FLIES_TO          66          1  FLIES_TO
6    [Airport]              2  FLIES_TO         886          1  FLIES_TO

   r.start.id r.start.labels  r.type
0           0      [Airport]    edge
1           3      [Airport]    edge
2           3      [Airport]    edge
3           2      [Airport]    edge
4           2      [Airport]    edge
5           1      [Airport]    edge
6           1      [Airport]    edge

[7 rows x 22 columns]

In [ ]:

# ##################################################################
# ##################################################################
# ##################################################################
# ##################################################################


#  Below is how I first loaded .. very slow ..

In [ ]:
#  Create nodes, airports


import contextlib

for l_each in df_airports.iterrows():
    
   l_airport_code = l_each[1][0]
   l_airport_name = l_each[1][1]
   l_label        = l_each[1][2]
    
   l_query = """

      //  This creates data that works ..
      //
      //  Subsequent execution creates duplicate nodes  :(
      //
      CREATE ( n: {2} {{ airport_code: '{0}' }} )                  //  Notice double curly braces
      SET n.airport_name = '{1}' 
      
      //  This produces bad data, see next cell ..
      //
      // MERGE ( n: {2} {{ airport_code: '{0}' }})
      // ON CREATE SET n.airport_name = '{1}'
   
      """.format(l_airport_code, l_airport_name, l_label)
         
    
   #  Don't use, hangs kernel
   #
   # with open('/dev/null', 'w') as f:
   #    with contextlib.redirect_stdout(f):
   #       l_result0 = my_graph.query(l_query)

   #  Didn't work ..
   #
   # with contextlib.redirect_stdout(None):
   #    l_result0 = my_graph.query(l_query)

   l_result0 = my_graph.query(l_query)
        
   print(".", end='')


print("  ")
print("--")

In [ ]:

for l_each in df_flights.iterrows():
    
   l_startid    = l_each[1][0]
   l_endid      = l_each[1][1]
   l_distance   = l_each[1][2]
   l_num_hops   = l_each[1][3]
   l_type       = l_each[1][4]
    
   l_query = """
      
      MATCH
         (n: Airport),
         (m: Airport)
      WHERE n.airport_code = '{0}'
      AND   m.airport_code = '{1}'
      CREATE (n) -[r: {4} {{ DISTANCE: {2}, NUM_HOPS: {3} }}]-> (m)
      
      // MATCH
      //    (n: Airport),
      //    (m: Airport)
      // WHERE n.airport_code = '{0}'
      // AND   m.airport_code = '{1}'
      // CREATE (n) -[r: {4} {{ DISTANCE: {2}, NUM_HOPS: {3} }}]-> (m)
      // RETURN type(r)
      //
      //  Using edge variables after CREATE/UPDATE/DELETE/REMOVE is not supported

      // MATCH (n: Airport ) WHERE n.airport_code = '{0}'
      // MATCH (m: Airport ) WHERE m.airport_code = '{1}'
      // CREATE (n) -[r: {4} {{ DISTANCE: {2}, NUM_HOPS: {3} }}]-> (m)

      """.format(l_startid, l_endid, l_distance, l_num_hops, l_type)
    
   l_result0 = my_graph.query(l_query)
        
   print(".", end='')     
      

print("  ")
print("--")

In [ ]:

#  Delete all edges, nodes for test reset

l_result = my_graph.query("""
   MATCH (n) - [r] -> (m)
   RETURN count(r)
   """)
display(print(l_result))

l_result = my_graph.query("""
   MATCH (n)
   RETURN count(n)
   """)
display(print(l_result))

l_result = my_graph.query("""
   MATCH (n) - [r] -> (m)
   DELETE r
   """)
display(print(l_result))

l_result = my_graph.query("""
   MATCH (n)
   DELETE n
   """)
display(print(l_result))

l_result = my_graph.query("""
   MATCH (n) - [r] -> (m)
   RETURN count(r)
   """)
display(print(l_result))

l_result = my_graph.query("""
   MATCH (n)
   RETURN count(n)
   """)
display(print(l_result))