#  Setup stuff: Display options

In [1]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate

print("--")

--

#  Setup stuff: Connectivity

In [2]:

from katana import remote
from katana.remote import import_data


my_client = remote.Client()

print(my_client)

<katana_enterprise.remote.sync_wrappers.Client object at 0x7f621c3bac40>

In [3]:

NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"

print("--")

--

In [4]:

#  DELETE ALL GRAPHS

for l_database in my_client.databases():
   for l_graph in my_client.get_database(name=l_database.name).graphs_in_database():
      l_handle=my_client.get_database(name=l_database.name).get_graph_by_id(id=l_graph.graph_id)
      l_handle.delete()

for l_graph in my_client.graphs():
   print("GRAPH ID: ", l_graph.graph_id, "      GRAPH Version: ", l_graph.version)

print("--")

--

In [ ]:

#  DELETE ALL DATABASES

for l_database in my_client.databases():
   if (l_database.name != "default"):
      my_client.get_database(name=l_database.name).delete_database()
      print("--")

for l_database in my_client.databases():
   print("DB ID: ", l_database.database_id, "     DB Name: ", l_database.name)

In [ ]:

#  CREATE DATABASE

my_database = my_client.create_database(name=DB_NAME)

print(my_database.database_id)

In [5]:

#  CREATE GRAPH

my_graph = my_client.get_database(name=DB_NAME).create_graph(name=GRAPH_NAME, num_partitions=NUM_PARTITIONS)

print(my_graph)

<_Graph my_graph, 5AnAiNpbG5XFBfzQo2p4LYc8yqyW8GtBVUgYxaknSRG4, 0>

In [ ]:

#  CONNECT TO GRAPH

my_graph, *_ = my_client.get_database(name=DB_NAME).find_graphs_by_name(GRAPH_NAME)

print(my_graph)

# Create: Vertices/nodes, edges ..

In [ ]:
# import pandas as pd
# 
# print("--")

In [6]:

#  Vertices/Nodes, Airports ..

df_airports = pd.DataFrame([
       #
   ["MKE", "Milwaukee"               , "Airport"],
   ["ORD", "Chicago O-Hare"          , "Airport"],
   ["SJC", "San Jose"                , "Airport"],
   ["DEN", "Denver"                  , "Airport"],
       #
   #  ], columns = ["airport_code", "airport_name", "LABEL"])
   ], columns = ["id", "airport_name", "LABEL"])

print(tabulate(df_airports, headers='keys', tablefmt='psql'))

+----+------+----------------+---------+
|    | id   | airport_name   | LABEL   |
|----+------+----------------+---------|
|  0 | MKE  | Milwaukee      | Airport |
|  1 | ORD  | Chicago O-Hare | Airport |
|  2 | SJC  | San Jose       | Airport |
|  3 | DEN  | Denver         | Airport |
+----+------+----------------+---------+

In [7]:

#  Create the edge, flights ..

df_flights = pd.DataFrame([
      #
   ["MKE", "ORD",   66, 1, "FLIES_TO" ],
   ["ORD", "MKE",   66, 1, "FLIES_TO" ],
      #
   ["ORD", "DEN",  886, 1, "FLIES_TO" ],
   ["DEN", "ORD",  886, 1, "FLIES_TO" ],
      #
   ["SJC", "DEN",  948, 1, "FLIES_TO" ],                           #  Notice SJC flies to/from Denver
   ["DEN", "SJC",  948, 1, "FLIES_TO" ],
      #
   ["SJC", "ORD", 1829, 1, "FLIES_TO" ],                           #  Notice SJC flies to ORD, but not ORD to SJC
      #
   ], columns = ["START_ID", "END_ID", "DISTANCE", "NUM_HOPS", "TYPE"])

print(tabulate(df_flights, headers='keys', tablefmt='psql'))

+----+------------+----------+------------+------------+----------+
|    | START_ID   | END_ID   |   DISTANCE |   NUM_HOPS | TYPE     |
|----+------------+----------+------------+------------+----------|
|  0 | MKE        | ORD      |         66 |          1 | FLIES_TO |
|  1 | ORD        | MKE      |         66 |          1 | FLIES_TO |
|  2 | ORD        | DEN      |        886 |          1 | FLIES_TO |
|  3 | DEN        | ORD      |        886 |          1 | FLIES_TO |
|  4 | SJC        | DEN      |        948 |          1 | FLIES_TO |
|  5 | DEN        | SJC      |        948 |          1 | FLIES_TO |
|  6 | SJC        | ORD      |       1829 |          1 | FLIES_TO |
+----+------------+----------+------------+------------+----------+

In [8]:

# Import the 2 previously created Python DataFrames into KatanaGraph ..

with import_data.DataFrameImporter(my_graph) as df_importer:   
    
   df_importer.nodes_dataframe(df_airports,                    #  Aiports set of Nodes
      #  id_column             = "airport_code",
      id_column             = "id",
      id_space              = "Airport",  
      label                 = "Airport",  
      )
   
   df_importer.edges_dataframe(df_flights,                     #  Our Edge, specifying the relationship between Airport --> FLIES_TO --> Airport
      source_id_space       = "Airport", 
      destination_id_space  = "Airport",   
      source_column         = "START_ID",
      destination_column    = "END_ID",
      type                  = "FLIES_TO"
      )

   df_importer.insert()

print("--")

UserWarning: dtype for DataFrame column 'airport_name' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'LABEL' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'TYPE' is 'object'. Will be inferred as string.

          0/? [?op/s]

          0/? [?op/s]

--

In [9]:

#  Used to test heterogeneous graphs ..

l_query = """
   CREATE ( n: Restaurant { id: 'PAP' } )                         //  Notice single curly braces
   SET n.restaurant_name = 'Pappadeauxs Seafood Kitchen' 
   """
      #
display(l_result = my_graph.query(l_query))

l_query = """
   MATCH
      (n: Airport   ),
      (m: Restaurant)
   WHERE n.id               = 'SJC'
   AND   m.id               = 'PAP'
   CREATE (n) -[r: ATTRACTION { DRIVABLE: 'Yes' }]-> (m)
   """
      #
display(l_result = my_graph.query(l_query))

          0/? [?op/s]

          0/? [?op/s]

#  Actual test

In [10]:

#  What's in the graph ..

l_result = my_graph.query("""
   MATCH ( n ) 
   RETURN n
   """)

for l_each in l_result.itertuples():
   print (l_each)

print(type(l_result))

#  Sample output
#
#  Pandas(Index=0, _1=0, _2=['Airport'], _3='Airport', _4='Milwaukee', _5='MKE', _6='node', _7=nan)
#  Pandas(Index=1, _1=2, _2=['Airport'], _3='Airport', _4='Denver', _5='DEN', _6='node', _7=nan)
#  Pandas(Index=2, _1=1, _2=['Airport'], _3='Airport', _4='Chicago O-Hare', _5='ORD', _6='node', _7=nan)
#  Pandas(Index=3, _1=281474976710656, _2=['Airport'], _3='Airport', _4='San Jose', _5='SJC', _6='node', _7=nan)
#  Pandas(Index=4, _1=562949953421312, _2=['Restaurant'], _3=nan, _4=nan, _5='PAP', _6='node', _7='Pappadeauxs Seafood Kitchen')
#  
#  <class 'katana.remote.ResultSet'>

          0/? [?op/s]

Pandas(Index=0, _1=0, _2=['Airport'], _3='Airport', _4='Milwaukee', _5='MKE', _6='node', _7=nan)
Pandas(Index=1, _1=2, _2=['Airport'], _3='Airport', _4='Denver', _5='DEN', _6='node', _7=nan)
Pandas(Index=2, _1=1, _2=['Airport'], _3='Airport', _4='Chicago O-Hare', _5='ORD', _6='node', _7=nan)
Pandas(Index=3, _1=281474976710656, _2=['Airport'], _3='Airport', _4='San Jose', _5='SJC', _6='node', _7=nan)
Pandas(Index=4, _1=562949953421312, _2=['Restaurant'], _3=nan, _4=nan, _5='PAP', _6='node', _7='Pappadeauxs Seafood Kitchen')
<class 'katana.remote.ResultSet'>

In [ ]:

def my_func(i_graph):
    
   from katana_enterprise.distributed import single_host

   l_query  = """
      MATCH (n)
      RETURN COUNT(*)
      """.format()
   
   l_result = i_graph.query(l_query)
   print(type(l_result))   #   <class 'katana_enterprise.distributed_native.ResultSet'>


   #  return single_host(host=0, result=l_result)
   #
   #  Error,
   #     TypeError: cannot pickle 'katana_enterprise.distributed_native.ResultSet' object

   #  l_return = l_result.to_pandas()
   #  return l_return
   #
   #  Error,
   #     AttributeError: 'katana_enterprise.distributed_native.ResultSet' object has no attribute 'to_pandas'
    
   for l_each in l_result.intertuples():
      print(l_each)

   return

l_return = my_graph.run(lambda g: my_func(g))
   #
print(l_return)



#  Sample output
#
#   <class 'katana_enterprise.distributed_native.ResultSet'>