In [ ]:

#  This NoteBook contains code from the Ch 05 folder ..
#

# Step 00: Setup

In [1]:

%load_ext autoreload
%autoreload 2

%xmode Minimal

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate


   ###

    
#  How to use tabulate-
#
l_result = [{ "col1": 20, "col2": 30}]
   #
#  print(tabulate(l_result, headers='keys', tablefmt='psql', showindex=False))

print("--")

Exception reporting mode: Minimal

--

# Step 01: Iris Data

In [24]:

#  Read the Iris data into a Pandas Dataframe
#
#     Features
#     1. sepal length in cm
#     2. sepal width in cm
#     3. petal length in cm
#     4. petal width in cm
#     5. class: 
#        Iris-setosa
#        Iris-versicolour
#        Iris-virginica

l_folder = "20_Data"
l_file   = "11_iris.data.txt"


pd_iris = pd.read_csv((l_folder + "/" + l_file), header = 0, sep = ",",
   names = ["sl", "sw", "pl", "pw", "class"],
   dtype = {"sl": "float", "sw": "float", "pl": "float", "pw": "float", "class": "string"} )
      #
print(tabulate(pd_iris.head(2), headers='keys', tablefmt='psql', showindex=False))
print("Number of rows: %d" % (len(pd_iris)))

print("--")

+------+------+------+------+-------------+
|   sl |   sw |   pl |   pw | class       |
|------+------+------+------+-------------|
|  4.9 |  3   |  1.4 |  0.2 | Iris-setosa |
|  4.7 |  3.2 |  1.3 |  0.2 | Iris-setosa |
+------+------+------+------+-------------+
Number of rows: 149
--

In [29]:

#  Then split data into training and test.
#  Convert the data into numpy arrays, since the ml libraries we use later expect that.
#

import numpy as np
from sklearn.model_selection import train_test_split

np_iris = {}
   #
np_iris["train"], np_iris["test"] = train_test_split(pd_iris.to_numpy(), test_size = 0.10, random_state = 40) 

print("Number of total rows: %d   Training rows: %d   Test rows: %d" % (len(dp_iris), len(np_iris_train), len(np_iris_test)) )