In [4]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

from tabulate import tabulate

   ###

l_result = [{ "col1": 20, "col2": 30}]
   #
print(tabulate(l_result, headers='keys', tablefmt='psql'))


print("--")

--
+--------+--------+
|   col1 |   col2 |
|--------+--------|
|     20 |     30 |
+--------+--------+