In [ ]:

#  Here we demonstrate the following Dask DataFrame techniques;
#
#     .  How to create a Dask DataFrame from an array.
#
#     .  Given a source Dask DataFrame, pivot a column that is a string into an array.
#
#        We might use this technique when given a flat file of data, that we derive
#        nodes and edges from.

In [1]:

NUM_PARTITIONS  = 3

print("--")

--

In [2]:

import numpy as np
import pandas as pd
   #
import dask.array as da
import dask.dataframe as dd
   #
from dask.dataframe import from_pandas

from tabulate import tabulate

print("--")

--

In [3]:

#  Create our source Dask DataFrame from an array

np_names = np.array([
       #
   ["Mary"   , "Bob, Tim, Dave"      , "19"],
   ["Joyce"  , "Allen, Tom, Dave"    , "20"],    
   ["Alice"  , "Earl"                , "AA"],
       #
   ], dtype="str")

pd_names = pd.DataFrame(np_names, columns = ["col1", "col2", "col3"])
   #
dd_names = from_pandas(pd_names, npartitions = NUM_PARTITIONS)


for l_each in dd_names.itertuples():
   print("Names:  %-16s   %-32s   %s" % (l_each.col1, l_each.col2, l_each.col3))

print("--")

#  Sample output,
#
#     Names:  Mary               Bob, Tim, Dave                     19
#     Names:  Joyce              Allen, Tom, Dave                   20
#     Names:  Alice              Earl                               AA

Names:  Mary               Bob, Tim, Dave                     19
Names:  Joyce              Allen, Tom, Dave                   20
Names:  Alice              Earl                               AA
--

In [4]:

#  Filter out non-numerics
#

dd_clean = dd_names[dd_names.col3.str.isnumeric()]

for l_each in dd_clean.itertuples():
   print(l_each)

#  Sample output,
#
#     Pandas(Index=0, col1='Mary', col2='Bob, Tim, Dave', col3='19')
#     Pandas(Index=1, col1='Joyce', col2='Allen, Tom, Dave', col3='20')

Pandas(Index=0, col1='Mary', col2='Bob, Tim, Dave', col3='19')
Pandas(Index=1, col1='Joyce', col2='Allen, Tom, Dave', col3='20')

In [6]:

#  Filter out specific numeric values
#

for l_each in dd_names.itertuples():
   print(l_each)

# df_data = df_data[df_data.id_asint != -1]

Pandas(Index=0, col1='Mary', col2='Bob, Tim, Dave', col3='19')
Pandas(Index=1, col1='Joyce', col2='Allen, Tom, Dave', col3='20')
Pandas(Index=2, col1='Alice', col2='Earl', col3='AA')