In [ ]:

#  Here we demonstrate the following Dask DataFrame techniques;
#
#     .  How to create a Dask DataFrame from an array.
#
#     .  Given two DataFrames, are values in one DataFrame found
#        in the other ?
#        Simiular to a Linux, (comm -23) command.

In [1]:

NUM_PARTITIONS  = 3

print("--")

--

In [2]:

import numpy as np
import pandas as pd
   #
import dask.array as da
import dask.dataframe as dd
   #
from dask.dataframe import from_pandas

from tabulate import tabulate

print("--")

--

In [3]:

#  Create our source Dask DataFrame from an array

np_airports = np.array([
       #
   ["MKE", "Milwaukee"     , "WI", "Airport"],
   ["ORD", "Chicago O-Hare", "IL", "Airport"],
   ["SJC", "San Jose"      , "CA", "Airport"],
   ["LAX", "Los Angeles"   , "CA", "Airport"],
   ["DEN", "Denver"        , "CO", "Airport"],
       #
   ], dtype="str")

pd_airports = pd.DataFrame(np_airports, columns = ["airport_code", "airport_name", "state_code", "LABEL"])
   #
dd_airports = from_pandas(pd_airports, npartitions = NUM_PARTITIONS)


for l_each in dd_airports.itertuples():
   print("Airport:  %3s   %-18s   %-2s   %-10s" % (l_each.airport_code, l_each.airport_name, l_each.state_code, l_each.LABEL))

print("--")

#  Sample output,
#
#  Airport:  MKE   Milwaukee            WI   Airport   
#  Airport:  ORD   Chicago O-Hare       IL   Airport   
#  Airport:  SJC   San Jose             CA   Airport   
#  Airport:  LAX   Los Angeles          CA   Airport   
#  Airport:  DEN   Denver               CO   Airport  


np_other    = np.array([
       #
   ["CA", "State/Province"],
   ["CO", "State/Province"],
   ["UT", "State/Province"],
       #
   ], dtype="str")

pd_other    = pd.DataFrame(np_other   , columns = ["state_code", "LABEL"])
   #
dd_other    = from_pandas(pd_other   , npartitions = NUM_PARTITIONS)


for l_each in dd_other   .itertuples():
   print("State:  %3s   %-18s   %-2s   %-10s" % (l_each.airport_code, l_each.airport_name, l_each.state_code, l_each.LABEL))

print("--")

Airport:  MKE   Milwaukee            WI   Airport
Airport:  ORD   Chicago O-Hare       IL   Airport
Airport:  SJC   San Jose             CA   Airport
Airport:  LAX   Los Angeles          CA   Airport
Airport:  DEN   Denver               CO   Airport
--