In [ ]:

#  Here we demonstrate the following Dask DataFrame techniques;
#
#     .  How to create a Dask DataFrame from an array.
#
#     .  Given a source Dask DataFrame, pivot a column that is a string into an array.
#
#        We might use this technique when given a flat file of data, that we derive
#        nodes and edges from.

In [ ]:

NUM_PARTITIONS  = 3

print("--")

In [ ]:

import numpy as np
import pandas as pd
   #
import dask.array as da
import dask.dataframe as dd
   #
from dask.dataframe import from_pandas

from tabulate import tabulate

print("--")

In [96]:

#  Create our source Dask DataFrame from an array

np_names = np.array([
       #
   ["Mary"   , "Bob, Tim, Dave"            ],
   ["Joyce"  , "Allen, Tom, Dave"          ],    
   ["Alice"  , "Earl"                      ],
       #
   ], dtype="str")

pd_names = pd.DataFrame(np_names, columns = ["col1", "col2"])
   #
dd_names = from_pandas(pd_names, npartitions = NUM_PARTITIONS)


for l_each in dd_names.iterrows():
      #
   l_col1    = l_each[1][0]
   l_col2    = l_each[1][1]
      #
   print("Names:  %-16s   %-32s" % (l_col1, l_col2))

print("--")

#  Sample output,
#
#  Names:  Mary               Bob, Tim, Dave                  
#  Names:  Joyce              Allen, Tom, Dave                
#  Names:  Alice              Earl

Names:  Mary               Bob, Tim, Dave
Names:  Joyce              Allen, Tom, Dave
Names:  Alice              Earl
--

In [113]:




dd_names["col3"] = dd_names.col2.str.split(',')







# xxx = dd_names.col2.explode()
# 
for iii in dd_names:
   print(iii)

col1
col2
col3

In [97]:

# df.join(pd.DataFrame(df.var2.str.split(',', expand=True).stack()
#             .reset_index(level=1, drop=True),columns=['var2 '])).drop('var2',1)
#             .rename(columns=str.strip)

xxx = dd_names.join(pd.DataFrame(dd_names.str.split(",", expand=true). stack() ))

AttributeError: 'DataFrame' object has no attribute 'str'