In [ ]:

#  Here we demonstrate the following Dask DataFrame techniques;
#
#     .  How to create a Dask DataFrame from an array.
#
#     .  Given a source Dask DataFrame, pivot a column that is a string into an array.
#
#        We might use this technique when given a flat file of data, that we derive
#        nodes and edges from.

In [1]:

NUM_PARTITIONS  = 3

print("--")

--

In [2]:

import numpy as np
import pandas as pd
   #
import dask.array as da
import dask.dataframe as dd
   #
from dask.dataframe import from_pandas

from tabulate import tabulate

print("--")

--

In [14]:

#  Create our source Dask DataFrame from an array

np_names = np.array([
       #
   ["Mary"   , "Bob, Tim, Dave"            ],
   ["Joyce"  , "Allen, Tom, Dave"          ],    
   ["Alice"  , "Earl"                      ],
       #
   ], dtype="str")

pd_names = pd.DataFrame(np_names, columns = ["col1", "col2"])
   #
dd_names = from_pandas(pd_names, npartitions = NUM_PARTITIONS)


for l_each in dd_names.itertuples():
   print("Names:  %-16s   %-32s" % (l_each.col1, l_each.col2))

print("--")

#  Sample output,
#
#  Names:  Mary               Bob, Tim, Dave                  
#  Names:  Joyce              Allen, Tom, Dave                
#  Names:  Alice              Earl

Names:  Mary               Bob, Tim, Dave
Names:  Joyce              Allen, Tom, Dave
Names:  Alice              Earl
--

In [15]:

#  Change string to lowercase, just because
#
dd_names["col2"] = dd_names.col2.map(lambda x: x.lower())


#  Change string to array
#
dd_names["col2"] = dd_names.col2.map(lambda x: x.split(",") )

#  Pivot array to rows
#
dd_names = dd_names.explode("col2")


# for l_each in dd_names.iterrows(): 
for l_each in dd_names.iter(): 
   print("Names: :  %10s  %10s" % (l_each[1][0], l_each[1][1]))
    
#  Sample data,
#
#  Names: :        Mary         bob
#  Names: :        Mary         tim
#  Names: :        Mary        dave
#  Names: :       Joyce       allen
#  Names: :       Joyce         tom
#  Names: :       Joyce        dave
#  Names: :       Alice        earl

Names: :        Mary         bob
Names: :        Mary         tim
Names: :        Mary        dave
Names: :       Joyce       allen
Names: :       Joyce         tom
Names: :       Joyce        dave
Names: :       Alice        earl