In [ ]:

#  Here we demonstrate the following Dask DataFrame techniques;
#
#     .  How to create a Dask DataFrame from an array.
#
#     .  Add a new column. Perhaps a LABEL or TYPE.

In [1]:

NUM_PARTITIONS  = 3

print("--")

--

In [2]:

import numpy as np
import pandas as pd
   #
import dask.array as da
import dask.dataframe as dd
   #
from dask.dataframe import from_pandas

from tabulate import tabulate

print("--")

--

In [3]:

#  Create our source Dask DataFrame from an array

np_airports = np.array([
       #
   ["MKE", "Milwaukee"     , "WI", "Airport"],
   ["ORD", "Chicago O-Hare", "IL", "Airport"],
   ["SJC", "San Jose"      , "CA", "Airport"],
   ["LAX", "Los Angeles"   , "CA", "Airport"],
   ["DEN", "Denver"        , "CO", "Airport"],
       #
   ], dtype="str")

pd_airports = pd.DataFrame(np_airports, columns = ["airport_code", "airport_name", "state_code", "LABEL"])
   #
dd_airports = from_pandas(pd_airports, npartitions = NUM_PARTITIONS)


for l_each in dd_airports.itertuples():
   print("Airport:  %3s   %-18s   %-2s   %-10s" % (l_each.airport_code, l_each.airport_name, l_each.state_code, l_each.LABEL))

print("--")

#  Sample output,
#
#  Airport:  MKE   Milwaukee            WI   Airport   
#  Airport:  ORD   Chicago O-Hare       IL   Airport   
#  Airport:  SJC   San Jose             CA   Airport   
#  Airport:  LAX   Los Angeles          CA   Airport   
#  Airport:  DEN   Denver               CO   Airport

Airport:  MKE   Milwaukee            WI   Airport
Airport:  ORD   Chicago O-Hare       IL   Airport
Airport:  SJC   San Jose             CA   Airport
Airport:  LAX   Los Angeles          CA   Airport
Airport:  DEN   Denver               CO   Airport
--

In [5]:

#  How to add a new column

dd_airports = dd_airports.assign(new_col=lambda x: "AAA")
print(type(dd_airports))

for l_each in dd_airports.itertuples():
   print(l_each)

<class 'dask.dataframe.core.DataFrame'>
Pandas(Index=0, airport_code='MKE', airport_name='Milwaukee', state_code='WI', LABEL='Airport', new_col='AAA')
Pandas(Index=1, airport_code='ORD', airport_name='Chicago O-Hare', state_code='IL', LABEL='Airport', new_col='AAA')
Pandas(Index=2, airport_code='SJC', airport_name='San Jose', state_code='CA', LABEL='Airport', new_col='AAA')
Pandas(Index=3, airport_code='LAX', airport_name='Los Angeles', state_code='CA', LABEL='Airport', new_col='AAA')
Pandas(Index=4, airport_code='DEN', airport_name='Denver', state_code='CO', LABEL='Airport', new_col='AAA')

In [6]:

#  How to drop a column

dd_airports = dd_airports.drop("airport_name", axis=1)
print(type(dd_airports))

for l_each in dd_airports.itertuples():
   print(l_each)

<class 'dask.dataframe.core.DataFrame'>
Pandas(Index=0, airport_code='MKE', state_code='WI', LABEL='Airport', new_col='AAA')
Pandas(Index=1, airport_code='ORD', state_code='IL', LABEL='Airport', new_col='AAA')
Pandas(Index=2, airport_code='SJC', state_code='CA', LABEL='Airport', new_col='AAA')
Pandas(Index=3, airport_code='LAX', state_code='CA', LABEL='Airport', new_col='AAA')
Pandas(Index=4, airport_code='DEN', state_code='CO', LABEL='Airport', new_col='AAA')

In [7]:

#  Rename a column

dd_airports = dd_airports.rename(columns={"state_code": "STATE_CODE", "airport_code": "AIRPORT_CODE"})

for l_each in dd_airports.itertuples():
   print(l_each)

Pandas(Index=0, AIRPORT_CODE='MKE', STATE_CODE='WI', LABEL='Airport', new_col='AAA')
Pandas(Index=1, AIRPORT_CODE='ORD', STATE_CODE='IL', LABEL='Airport', new_col='AAA')
Pandas(Index=2, AIRPORT_CODE='SJC', STATE_CODE='CA', LABEL='Airport', new_col='AAA')
Pandas(Index=3, AIRPORT_CODE='LAX', STATE_CODE='CA', LABEL='Airport', new_col='AAA')
Pandas(Index=4, AIRPORT_CODE='DEN', STATE_CODE='CO', LABEL='Airport', new_col='AAA')

In [27]:

#  Change column data types

#  First, add a new column is type str
dd_airports = dd_airports.assign(new_col2=lambda x: "20")

for l_each in dd_airports.itertuples():
   display(print("Type of new_col2: %-32s  Data for new_col2: %s" % (type(l_each.new_col2), str(l_each.new_col2) ) ))

         
dd_airports2 = dd_airports.assign(
    
   new_col2 = lambda x: x.new_col2.fillna(0.0).astype(int),
   new_col  = lambda x: x.new_col.str.lower(int)
   )


for l_each in dd_airports2.itertuples():
   display(print("Type of new_col2: %-32s  Data for new_col2: %s" % (type(l_each.new_col2), str(l_each.new_col2) ) ))


print("--")

Type of new_col2: <class 'str'>                     Data for new_col2: 20

None

Type of new_col2: <class 'str'>                     Data for new_col2: 20

None

Type of new_col2: <class 'str'>                     Data for new_col2: 20

None

Type of new_col2: <class 'str'>                     Data for new_col2: 20

None

Type of new_col2: <class 'str'>                     Data for new_col2: 20

None

TypeError: lower() takes 1 positional argument but 2 were given