#  Setup stuff: Connectivity


#  Reminder, as I was having a lot of issues with tunneling during this time;
#     use the command line below to check that the tunnel is still (up)
#
      curl --location --request GET "http://localhost:8080/v2/version"; echo ""

In [7]:
#  Setting display options

from tabulate import tabulate
import pandas as pd
   #
pd.set_option("display.width", 480)

print("--")

--

In [1]:

from katana import remote
from katana.remote import import_data


my_client = remote.Client()

print(my_client)

<katana_enterprise.remote.sync_wrappers.Client object at 0x7fa2697cd0d0>

In [2]:
NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"

print("--")

--

In [3]:
#  DELETE ALL GRAPHS

for l_database in my_client.databases():
   for l_graph in my_client.get_database(name=l_database.name).graphs_in_database():
      l_handle=my_client.get_database(name=l_database.name).get_graph_by_id(id=l_graph.graph_id)
      l_handle.delete()

for l_graph in my_client.graphs():
   print("GRAPH ID: ", l_graph.graph_id, "      GRAPH Version: ", l_graph.version)

print("--")

--

In [4]:
#  DELETE ALL DATABASES

for l_database in my_client.databases():
   if (l_database.name != "default"):
      my_client.get_database(name=l_database.name).delete_database()
      print("--")

for l_database in my_client.databases():
   print("DB ID: ", l_database.database_id, "     DB Name: ", l_database.name)

--
DB ID:  DHqipVetyExgzHiN44naZkKL2aRvNdofZgRrnHmd7Jfu      DB Name:  default

In [5]:
#  CREATE DATABASE

my_database = my_client.create_database(name=DB_NAME)

print(my_database.database_id)

3qYAnyTUWnoFWt9rBVKarMgFJeJSBwXnMD8vTpsgZEZV

In [6]:
#  CREATE GRAPH

my_graph = my_client.get_database(name=DB_NAME).create_graph(name=GRAPH_NAME, num_partitions=3) 

print(my_graph)

<_Graph my_graph, EPTEZJfs3HGbURdV7Xy6ANgn9TLgvad5v3yGtMmqGyVT, 0>

In [ ]:
#  CONNECT TO GRAPH

for l_graph in my_client.graphs():
   if (l_graph.name == GRAPH_NAME):
      my_graph=my_client.get_database(name=DB_NAME).get_graph_by_id(id=l_graph.graph_id)
        
print(my_graph)

#  Setup stuff: Debugging

In [ ]:
#  LIST ALL GRAPHS

for l_graph in my_client.graphs():
   print("GRAPH ID: ", l_graph.graph_id, "     DB GRAPH: ", l_graph.name, "    GRAPH VERSION: ", l_graph.version)

print("--")

In [ ]:
display(my_graph.num_nodes())
display(my_graph.num_edges())

In [ ]:
# ##################################################################

In [ ]:
my_graph.query("CALL graph.schema() RETURN *")

In [ ]:
my_client.widgets().operations()

# Create: Vertices/nodes, edges/relationships

In [ ]:
import pandas as pd

print("--")

In [8]:
#  Vertices/Nodes, Persons ..

df_persons = pd.DataFrame([
       #
   ["1111-1111-1111-1111", "Justin"       , "Fine"        , "Person"],
   ["2222-2222-2222-2222", "Thomas"       , "Cook"        , "Person"],
   ["3333-3333-3333-3333", "Sameer"       , "Iyengar"     , "Person"],
   ["4444-4444-4444-4444", "Brian"        , "Spencer"     , "Person"],
       #
   ], columns = ["person_code", "fname", "lname", "LABEL"])

print(tabulate(df_persons, headers='keys', tablefmt='psql'))

+----+---------------------+---------+---------+---------+
|    | person_code         | fname   | lname   | LABEL   |
|----+---------------------+---------+---------+---------|
|  0 | 1111-1111-1111-1111 | Justin  | Fine    | Person  |
|  1 | 2222-2222-2222-2222 | Thomas  | Cook    | Person  |
|  2 | 3333-3333-3333-3333 | Sameer  | Iyengar | Person  |
|  3 | 4444-4444-4444-4444 | Brian   | Spencer | Person  |
+----+---------------------+---------+---------+---------+

In [9]:
#  Vertices/Nodes, Stores ..

df_stores = pd.DataFrame([
       #
   [101, "Panera"        , "Store"],
   [102, "Target"        , "Store"],
   [103, "Lowes"         , "Store"],
   [104, "Volvo Service" , "Store"],
   [105, "JC Penney"     , "Store"],
   [106, "Torchys Tacos" , "Store"],
       #
   ], columns = ["store_code", "store_name", "LABEL"])

print(tabulate(df_stores, headers='keys', tablefmt='psql'))

+----+--------------+---------------+---------+
|    |   store_code | store_name    | LABEL   |
|----+--------------+---------------+---------|
|  0 |          101 | Panera        | Store   |
|  1 |          102 | Target        | Store   |
|  2 |          103 | Lowes         | Store   |
|  3 |          104 | Volvo Service | Store   |
|  4 |          105 | JC Penney     | Store   |
|  5 |          106 | Torchys Tacos | Store   |
+----+--------------+---------------+---------+

In [10]:
#  Create the edge, MADE_PURCHASE ..

df_purchases = pd.DataFrame([
      #
   ["1111-1111-1111-1111", 101,   40.00, "2022-04-01", 0, "MADE_PURCHASE" ],
   ["1111-1111-1111-1111", 105,   50.00, "2022-04-02", 0, "MADE_PURCHASE" ],
   ["1111-1111-1111-1111", 106,   60.00, "2022-04-03", 1, "MADE_PURCHASE" ],
   ["1111-1111-1111-1111", 102,   70.00, "2022-04-10", 0, "MADE_PURCHASE" ],
   ["1111-1111-1111-1111", 106,   60.00, "2022-04-14", 1, "MADE_PURCHASE" ],
      #
   ["2222-2222-2222-2222", 103,   40.00, "2022-04-01", 0, "MADE_PURCHASE" ],
   ["2222-2222-2222-2222", 104,   50.00, "2022-04-02", 0, "MADE_PURCHASE" ],
   ["2222-2222-2222-2222", 105,   60.00, "2022-04-03", 0, "MADE_PURCHASE" ],
   ["2222-2222-2222-2222", 101,   70.00, "2022-04-06", 1, "MADE_PURCHASE" ],
   ["2222-2222-2222-2222", 102,   80.00, "2022-04-10", 0, "MADE_PURCHASE" ],
      #
   ["3333-3333-3333-3333", 105,   50.00, "2022-04-05", 0, "MADE_PURCHASE" ],
   ["3333-3333-3333-3333", 102,   60.00, "2022-04-09", 1, "MADE_PURCHASE" ],
   ["3333-3333-3333-3333", 102,   70.00, "2022-04-10", 0, "MADE_PURCHASE" ],
      #
   ["4444-4444-4444-4444", 102,   40.00, "2022-04-07", 0, "MADE_PURCHASE" ],
   ["4444-4444-4444-4444", 103,   50.00, "2022-04-08", 0, "MADE_PURCHASE" ],
      #
   ], columns = ["START_ID", "END_ID", "AMOUNT", "DATE_AS_STRING", "IS_FRAUDULENT", "TYPE"])

print(tabulate(df_purchases, headers='keys', tablefmt='psql'))

+----+---------------------+----------+----------+------------------+-----------------+---------------+
|    | START_ID            |   END_ID |   AMOUNT | DATE_AS_STRING   |   IS_FRAUDULENT | TYPE          |
|----+---------------------+----------+----------+------------------+-----------------+---------------|
|  0 | 1111-1111-1111-1111 |      101 |       40 | 2022-04-01       |               0 | MADE_PURCHASE |
|  1 | 1111-1111-1111-1111 |      105 |       50 | 2022-04-02       |               0 | MADE_PURCHASE |
|  2 | 1111-1111-1111-1111 |      106 |       60 | 2022-04-03       |               1 | MADE_PURCHASE |
|  3 | 1111-1111-1111-1111 |      102 |       70 | 2022-04-10       |               0 | MADE_PURCHASE |
|  4 | 1111-1111-1111-1111 |      106 |       60 | 2022-04-14       |               1 | MADE_PURCHASE |
|  5 | 2222-2222-2222-2222 |      103 |       40 | 2022-04-01       |               0 | MADE_PURCHASE |
|  6 | 2222-2222-2222-2222 |      104 |       50 | 2022-04-02       |               0 | MADE_PURCHASE |
|  7 | 2222-2222-2222-2222 |      105 |       60 | 2022-04-03       |               0 | MADE_PURCHASE |
|  8 | 2222-2222-2222-2222 |      101 |       70 | 2022-04-06       |               1 | MADE_PURCHASE |
|  9 | 2222-2222-2222-2222 |      102 |       80 | 2022-04-10       |               0 | MADE_PURCHASE |
| 10 | 3333-3333-3333-3333 |      105 |       50 | 2022-04-05       |               0 | MADE_PURCHASE |
| 11 | 3333-3333-3333-3333 |      102 |       60 | 2022-04-09       |               1 | MADE_PURCHASE |
| 12 | 3333-3333-3333-3333 |      102 |       70 | 2022-04-10       |               0 | MADE_PURCHASE |
| 13 | 4444-4444-4444-4444 |      102 |       40 | 2022-04-07       |               0 | MADE_PURCHASE |
| 14 | 4444-4444-4444-4444 |      103 |       50 | 2022-04-08       |               0 | MADE_PURCHASE |
+----+---------------------+----------+----------+------------------+-----------------+---------------+

In [ ]:
# ##################################################################

In [13]:
#  Even though this graph was made with 3 partitions, and even though certain operations
#  require at least 3 partitions else they fail, you may still see num_partitions = None
#  which can happen on really small graphs, and produce unexpected results below.

print(my_graph.num_partitions)

3

In [12]:
my_graph.repartition(num_partitions = 3)

print("--")

--

In [ ]:
# ##################################################################

In [14]:

# Import the 3 previously created Python DataFrames into KatanaGraph

with import_data.DataFrameImporter(my_graph) as df_importer:   
    
   df_importer.nodes_dataframe(df_persons,                     #  Person set of Nodes
      id_column             = "person_code",
      id_space              = "Person",  
      label                 = "Person",  
      )
    
   df_importer.nodes_dataframe(df_stores,                      #  Store set of Nodes
      id_column             = "store_code",
      id_space              = "Store", 
      label                 = "Store", 
      )
   
   df_importer.edges_dataframe(df_purchases,                   #  Our Edge, specifying the relationship between Person --> MADE_PURCHASE --> Store
      source_id_space       = "Person", 
      destination_id_space  = "Store",   
      source_column         = "START_ID",
      destination_column    = "END_ID",
      type                  = "MADE_PURCHASE"
      )

print("--")

UserWarning: dtype for DataFrame column 'fname' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'lname' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'LABEL' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'store_name' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'DATE_AS_STRING' is 'object'. Will be inferred as string.
UserWarning: dtype for DataFrame column 'TYPE' is 'object'. Will be inferred as string.

          0/? [?op/s]

          0/? [?op/s]

--

In [ ]:
# ##################################################################

In [15]:
#  View the graph; verify results

l_result = my_graph.query("""

   MATCH (n) - [r] -> (m)
   RETURN n, r, m
   
   """, contextualize=True)

l_result.view()

          0/? [?op/s]

          0/? [?op/s]

VBox(children=(HTML(value='\n                <style>\n                #jp-main-content-panel .widget-containerâ€¦

In [16]:
#  View the graph; verify results

l_result = my_graph.query("""

   MATCH (n: Person)
   RETURN n
   
   """, contextualize=True)

print(tabulate(l_result, headers='keys', tablefmt='psql'))

          0/? [?op/s]

          0/? [?op/s]

+----+-----------------+------------+-----------+-----------+---------------------+-----------+----------+
|    |   n.internal_id | n.labels   | n.LABEL   | n.fname   | n.id                | n.lname   | n.type   |
|----+-----------------+------------+-----------+-----------+---------------------+-----------+----------|
|  0 | 281474976710656 | ['Person'] | Person    | Brian     | 4444-4444-4444-4444 | Spencer   | node     |
|  1 | 562949953421312 | ['Person'] | Person    | Justin    | 1111-1111-1111-1111 | Fine      | node     |
|  2 | 562949953421313 | ['Person'] | Person    | Thomas    | 2222-2222-2222-2222 | Cook      | node     |
|  3 | 562949953421314 | ['Person'] | Person    | Sameer    | 3333-3333-3333-3333 | Iyengar   | node     |
+----+-----------------+------------+-----------+-----------+---------------------+-----------+----------+

In [17]:
#  View the graph; verify results

l_result = my_graph.query("""

   MATCH (n) - [r] -> (m)
   RETURN r
   
   """, contextualize=True)

print(tabulate(l_result, headers='keys', tablefmt='psql'))

          0/? [?op/s]

+----+-----------------+----------------+-----------------+---------------+------------+--------------------+-------------------+---------------+-----------------+------------------+----------+
|    |        r.end.id | r.end.labels   |   r.internal_id | r.label       |   r.AMOUNT | r.DATE_AS_STRING   |   r.IS_FRAUDULENT | r.TYPE        |      r.start.id | r.start.labels   | r.type   |
|----+-----------------+----------------+-----------------+---------------+------------+--------------------+-------------------+---------------+-----------------+------------------+----------|
|  0 | 281474976710658 | ['Store']      | 281474976710656 | MADE_PURCHASE |         40 | 2022-04-07         |                 0 | MADE_PURCHASE | 281474976710656 | ['Person']       | edge     |
|  1 | 562949953421315 | ['Store']      | 281474976710657 | MADE_PURCHASE |         50 | 2022-04-08         |                 0 | MADE_PURCHASE | 281474976710656 | ['Person']       | edge     |
|  2 | 562949953421316 | ['Store']      | 562949953421313 | MADE_PURCHASE |         50 | 2022-04-02         |                 0 | MADE_PURCHASE | 562949953421312 | ['Person']       | edge     |
|  3 | 281474976710658 | ['Store']      | 562949953421317 | MADE_PURCHASE |         70 | 2022-04-10         |                 0 | MADE_PURCHASE | 562949953421312 | ['Person']       | edge     |
|  4 |               0 | ['Store']      | 562949953421321 | MADE_PURCHASE |         60 | 2022-04-03         |                 1 | MADE_PURCHASE | 562949953421312 | ['Person']       | edge     |
|  5 |               0 | ['Store']      | 562949953421322 | MADE_PURCHASE |         60 | 2022-04-14         |                 1 | MADE_PURCHASE | 562949953421312 | ['Person']       | edge     |
|  6 | 281474976710657 | ['Store']      | 562949953421323 | MADE_PURCHASE |         40 | 2022-04-01         |                 0 | MADE_PURCHASE | 562949953421312 | ['Person']       | edge     |
|  7 | 562949953421316 | ['Store']      | 562949953421315 | MADE_PURCHASE |         50 | 2022-04-05         |                 0 | MADE_PURCHASE | 562949953421314 | ['Person']       | edge     |
|  8 | 281474976710658 | ['Store']      | 562949953421319 | MADE_PURCHASE |         60 | 2022-04-09         |                 1 | MADE_PURCHASE | 562949953421314 | ['Person']       | edge     |
|  9 | 281474976710658 | ['Store']      | 562949953421320 | MADE_PURCHASE |         70 | 2022-04-10         |                 0 | MADE_PURCHASE | 562949953421314 | ['Person']       | edge     |
| 10 | 562949953421315 | ['Store']      | 562949953421312 | MADE_PURCHASE |         40 | 2022-04-01         |                 0 | MADE_PURCHASE | 562949953421313 | ['Person']       | edge     |
| 11 | 562949953421316 | ['Store']      | 562949953421314 | MADE_PURCHASE |         60 | 2022-04-03         |                 0 | MADE_PURCHASE | 562949953421313 | ['Person']       | edge     |
| 12 | 281474976710659 | ['Store']      | 562949953421316 | MADE_PURCHASE |         50 | 2022-04-02         |                 0 | MADE_PURCHASE | 562949953421313 | ['Person']       | edge     |
| 13 | 281474976710658 | ['Store']      | 562949953421318 | MADE_PURCHASE |         80 | 2022-04-10         |                 0 | MADE_PURCHASE | 562949953421313 | ['Person']       | edge     |
| 14 | 281474976710657 | ['Store']      | 562949953421324 | MADE_PURCHASE |         70 | 2022-04-06         |                 1 | MADE_PURCHASE | 562949953421313 | ['Person']       | edge     |
+----+-----------------+----------------+-----------------+---------------+------------+--------------------+-------------------+---------------+-----------------+------------------+----------+