In [ ]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate

print("--")

#  Setup stuff: Connectivity

In [ ]:

from katana import remote
from katana.remote import import_data

my_client = remote.Client()

print(my_client)

In [ ]:

NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"

print("--")

In [ ]:

#  CONNECT TO GRAPH

my_graph, *_ = my_client.get_database(name=DB_NAME).find_graphs_by_name(GRAPH_NAME)

print(my_graph)

#  Analytics: Why we are here

In [ ]:

#  First neighborhood
#
#     (No rows found)

l_result = my_graph.query("""

   MATCH (n: Person) - [r] -> (m) 
   WHERE
      m.city = 'Houston'
   RETURN *

   """, contextualize=True)

l_result.view()

In [ ]:

#  All neighborhood depths
#
#     (Currently: error)

l_result = my_graph.query("""

   MATCH (n: Person) - [r *] -> (m) 
   WHERE
      m.city = 'Houston'
   RETURN n, r, m

   """, contextualize=True)

l_result.view()


# display(print(l_result))
# 
#  Outputted value,
#
#  OperationError: FZSoWndtUBvHNquRkos1tkw5DS9CwvH6NF4X5Ady2WfZ-43CxYsTPwbyPAsoQQ backtrace (QueryClient.cpp:575):
#  opgraph check failed (OpGraph.cpp:564): Unimplemented Features Pass (OpGraphErrorChecker.cpp:12):
#  backtrace (UnimplementedFeaturesChecker.cpp:376): backtrace (OpGraph.cpp:822):
#  backtrace (OpGraph.cpp:822): backtrace (OpGraph.cpp:798):
#  returning named variable paths not yet supported (UnimplementedFeaturesChecker.cpp:197): InternalError:NotImplemented: InternalError:NotImplemented

In [8]:

#  How Persons relate to Houston ..
#
#     P_101   Justin
#     P_102   Anand
#     P_103   Brian
#     P_104   Sameer

#  The GUI graph is not great; we'll use tabulate
#

l_result = my_graph.query("""

   MATCH (n: Person) - [*] - > (m) 
   WHERE
      m.city = 'Houston'
   RETURN *
   ORDER BY n.name

   """, contextualize=True)

#  l_result.view()
#
print(tabulate(l_result, headers='keys', tablefmt='psql'))

#  Sample output,
#
#     +----+-----------------+-----------------+-------------+----------+--------+----------+----------+-----------------+------------+-----------+--------+----------+----------+
#     |    |   m.internal_id | m.labels        | m.LABEL     | m.city   | m.id   | m.type   | m.name   |   n.internal_id | n.labels   | n.LABEL   | n.id   | n.name   | n.type   |
#     |----+-----------------+-----------------+-------------+----------+--------+----------+----------+-----------------+------------+-----------+--------+----------+----------|
#     |  0 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               1 | ['Person'] | Person    | P_102  | Anand    | node     |
#     |  1 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               1 | ['Person'] | Person    | P_102  | Anand    | node     |
#     |  2 |              21 | ['Dist_Center'] | Dist_Center | Houston  | D_102  | node     | nan      |               1 | ['Person'] | Person    | P_102  | Anand    | node     |
#     |  3 |              21 | ['Dist_Center'] | Dist_Center | Houston  | D_102  | node     | nan      |               1 | ['Person'] | Person    | P_102  | Anand    | node     |
#     |  4 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               2 | ['Person'] | Person    | P_103  | Brian    | node     |
#     |  5 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               2 | ['Person'] | Person    | P_103  | Brian    | node     |
#     |  6 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               0 | ['Person'] | Person    | P_101  | Justin   | node     |
#     |  7 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               0 | ['Person'] | Person    | P_101  | Justin   | node     |
#     |  8 |              23 | ['Reviewer']    | Reviewer    | Houston  | R_102  | node     | Allen    |               3 | ['Person'] | Person    | P_104  | Sameer   | node     |
#     |  9 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               3 | ['Person'] | Person    | P_104  | Sameer   | node     |
#     | 10 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               3 | ['Person'] | Person    | P_104  | Sameer   | node     |
#     | 11 |              21 | ['Dist_Center'] | Dist_Center | Houston  | D_102  | node     | nan      |               3 | ['Person'] | Person    | P_104  | Sameer   | node     |
#     | 12 |              21 | ['Dist_Center'] | Dist_Center | Houston  | D_102  | node     | nan      |               3 | ['Person'] | Person    | P_104  | Sameer   | node     |
#     +----+-----------------+-----------------+-------------+----------+--------+----------+----------+-----------------+------------+-----------+--------+----------+----------+

          0/? [?op/s]

          0/? [?op/s]

+----+-----------------+-----------------+-------------+----------+--------+----------+----------+-----------------+------------+-----------+--------+----------+----------+
|    |   m.internal_id | m.labels        | m.LABEL     | m.city   | m.id   | m.type   | m.name   |   n.internal_id | n.labels   | n.LABEL   | n.id   | n.name   | n.type   |
|----+-----------------+-----------------+-------------+----------+--------+----------+----------+-----------------+------------+-----------+--------+----------+----------|
|  0 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               1 | ['Person'] | Person    | P_102  | Anand    | node     |
|  1 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               1 | ['Person'] | Person    | P_102  | Anand    | node     |
|  2 |              21 | ['Dist_Center'] | Dist_Center | Houston  | D_102  | node     | nan      |               1 | ['Person'] | Person    | P_102  | Anand    | node     |
|  3 |              21 | ['Dist_Center'] | Dist_Center | Houston  | D_102  | node     | nan      |               1 | ['Person'] | Person    | P_102  | Anand    | node     |
|  4 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               2 | ['Person'] | Person    | P_103  | Brian    | node     |
|  5 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               2 | ['Person'] | Person    | P_103  | Brian    | node     |
|  6 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               0 | ['Person'] | Person    | P_101  | Justin   | node     |
|  7 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               0 | ['Person'] | Person    | P_101  | Justin   | node     |
|  8 |              23 | ['Reviewer']    | Reviewer    | Houston  | R_102  | node     | Allen    |               3 | ['Person'] | Person    | P_104  | Sameer   | node     |
|  9 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               3 | ['Person'] | Person    | P_104  | Sameer   | node     |
| 10 |              19 | ['Store']       | Store       | Houston  | S_104  | node     | nan      |               3 | ['Person'] | Person    | P_104  | Sameer   | node     |
| 11 |              21 | ['Dist_Center'] | Dist_Center | Houston  | D_102  | node     | nan      |               3 | ['Person'] | Person    | P_104  | Sameer   | node     |
| 12 |              21 | ['Dist_Center'] | Dist_Center | Houston  | D_102  | node     | nan      |               3 | ['Person'] | Person    | P_104  | Sameer   | node     |
+----+-----------------+-----------------+-------------+----------+--------+----------+----------+-----------------+------------+-----------+--------+----------+----------+

In [ ]:
# ######################################################

In [ ]:
#  Everything below here is work in progress

In [ ]:
# ######################################################

In [ ]:

#  Can we filter out where date_shipped has already taken place ?
#

l_result = my_graph.query("""

   MATCH (n: Person) - [*] - > (m) 
   WHERE
      m.city = 'Houston'
   RETURN m.date_shipped

   """, contextualize=True)

#  l_result.view()
#
print(tabulate(l_result, headers='keys', tablefmt='psql'))



#  Sample output,
#
#     +----+------------------+
#     |    | m.date_shipped   |
#     |----+------------------|
#     |  0 |                  |
#     |  1 |                  |
#     |  2 |                  |
#     |  3 |                  |
#     |  4 |                  |
#     |  5 |                  |
#     |  6 |                  |
#     |  7 |                  |
#     |  8 |                  |
#     |  9 |                  |
#     | 10 |                  |
#     | 11 |                  |
#     | 12 |                  |
#     +----+------------------+

In [ ]:

#  This fails gracefully after 60 (?) seconds ..

#  l_result = my_graph.query("""
#  
#     MATCH (n: Person) - [*] - (o) - [*] - > (m) 
#     WHERE
#        m.city = 'Houston'
#     RETURN o.date_shipped
#  
#     """, contextualize=True)
#  
#  l_result.view()


print("--")


#  Outputted values,
#
#  OperationError: 5BsJxxpX5GRqbGGukKZiyEnNn6RBwjzaCVboNZQfs2o5-5B5NmeiqeqDiGVtQb

In [9]:

#  (No data output)
#

l_result = my_graph.query("""

   MATCH (n: Person) - [p: PLACED] - (o: Order) - [*] - > (m) 
   WHERE
      m.city = 'Houston'
   AND
      NOT EXISTS (o.date_shipped)
   RETURN *

   """, contextualize=True)

l_result.view()


#  Doesn't achieve desired results; data was entered as an empty string

          0/? [?op/s]

VBox(children=(HTML(value='\n                <style>\n                #jp-main-content-panel .widget-container…

In [10]:

#  Filter on date_shipped ..
#

l_result = my_graph.query("""

   MATCH (n: Person) - [p: PLACED] - (o: Order) - [*] - > (m) 
   WHERE
      m.city = 'Houston'
   AND
      SIZE (o.date_shipped) < 1 
   RETURN *

   """, contextualize=True)

l_result.view()

          0/? [?op/s]

          0/? [?op/s]

VBox(children=(HTML(value='\n                <style>\n                #jp-main-content-panel .widget-container…