#  Setup stuff: Connectivity

In [1]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate

print("--")

--

In [2]:

from katana import remote

my_client = remote.Client()

print(my_client)

<katana_enterprise.remote.sync_wrappers.Client object at 0x7f2dbc363040>

In [3]:

NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"

print("--")

--

In [4]:

#  CONNECT TO GRAPH

my_graph, *_ = my_client.get_database(name=DB_NAME).find_graphs_by_name(GRAPH_NAME)

print(my_graph)

<_Graph my_graph, Eho2ev87LBaUVF9BXEhGGH7qr2gLnxcWTkbe7aXjo4C9, 3>

#  Example 01 ..

In [5]:

#  What's in the graph ..

l_result1 = my_graph.query_unpaginated("""
   MATCH ( n ) 
   RETURN n
   """)
print(tabulate(l_result1, headers='keys', tablefmt='psql'))

          0/? [?op/s]

+----+-----------------+----------------+---------------------+-----------------------------+----------+-----------+------------------+------------------+
|    |   n.internal_id | n.labels       | n.restaurant_code   | n.restaurant_name           | n.type   | n.LABEL   | n.airport_code   | n.airport_name   |
|----+-----------------+----------------+---------------------+-----------------------------+----------+-----------+------------------+------------------|
|  0 |               1 | ['Restaurant'] | PAP                 | Pappadeauxs Seafood Kitchen | node     | nan       | nan              | nan              |
|  1 |               0 | ['Airport']    | nan                 | nan                         | node     | Airport   | ORD              | Chicago O-Hare   |
|  2 | 281474976710656 | ['Airport']    | nan                 | nan                         | node     | Airport   | MKE              | Milwaukee        |
|  3 | 281474976710657 | ['Airport']    | nan                 | nan                         | node     | Airport   | SJC              | San Jose         |
|  4 | 562949953421312 | ['Airport']    | nan                 | nan                         | node     | Airport   | DEN              | Denver           |
+----+-----------------+----------------+---------------------+-----------------------------+----------+-----------+------------------+------------------+

/opt/conda/lib/python3.8/site-packages/katana_enterprise/remote/result_set.py:69: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._response = response

In [6]:

l_result = my_graph.query_unpaginated("""

   MATCH ( n ) - [ r ] -> ( m )
   RETURN r
   
   """)
print(tabulate(l_result2, headers='keys', tablefmt='psql'))

          0/? [?op/s]

NameError: name 'l_result2' is not defined