In [18]:

#  Setting display options 

import pandas as pd
   #
pd.set_option("display.width", 480)

#  Sets horizontal scroll for wide outputs
#
from IPython.display import display, HTML
display(HTML(""))

from tabulate import tabulate

print("--")

--

#  Setup: Connectivity

In [19]:

from katana import remote

my_client = remote.Client()

print(my_client)

<katana_enterprise.remote.sync_wrappers.Client object at 0x7f348cf4cc70>

In [20]:

NUM_PARTITIONS  = 3
   #
DB_NAME         = "my_db"
GRAPH_NAME      = "my_graph"

print("--")

--

In [21]:

#  Delete all graphs

for l_database in my_client.databases():
   for l_graph in my_client.get_database(name=l_database.name).graphs_in_database():
      l_handle=my_client.get_database(name=l_database.name).get_graph_by_id(id=l_graph.graph_id)
      l_handle.delete()

for l_graph in my_client.graphs():
   print("GRAPH ID: ", l_graph.graph_id, "      GRAPH Version: ", l_graph.version)

print("--")

--

In [ ]:

#  Delete all databases

for l_database in my_client.databases():
   if (l_database.name != "default"):
      my_client.get_database(name=l_database.name).delete_database()
      print("--")

for l_database in my_client.databases():
   print("DB ID: ", l_database.database_id, "     DB Name: ", l_database.name)

In [ ]:

#  Create database

my_database = my_client.create_database(name=DB_NAME)

print(my_database.database_id)

In [22]:

#  Create a graph

my_graph=my_client.get_database(name=DB_NAME).create_graph(name=GRAPH_NAME, num_partitions=NUM_PARTITIONS)

print(my_graph)

<_Graph my_graph, Er6FBDpib6RLGd4zwcXetMDHXWDMQeNARynbgjDKe6R8, 0>

In [ ]:

#  Connect to graph

my_graph, *_ = my_client.get_database(name=DB_NAME).find_graphs_by_name(GRAPH_NAME)

print(my_graph)

# Step 01:  Load from CSV

In [2]:

import pandas as pd
import numpy as np

print("--")

--

In [24]:

#  Load a DataFrame from CSV, Nodes/Vertices


l_InputFile  = "./10_N_MovieDB/24_nodes.txt"

df_all_nodes1 = pd.read_csv(
   l_InputFile,
   delimiter = ",",
   dtype = {
      # "id"        : int,
      "id"        : np.dtype('O'),
      "_labels"   : np.dtype('O'),
      # "born"      : float, 
      "born"      : np.dtype('O'),
      "name"      : np.dtype('O'),
      # "released"  : float,
      "released"  : np.dtype('O'),
      "tagline"   : np.dtype('O'),
      "title"     : np.dtype('O')
      })

print("Number of rows: %d" % (len(df_all_nodes1)) )
   #
print("--")

Number of rows: 171
--

In [25]:

#  Column renames

df_all_nodes2 = df_all_nodes1.rename(columns={"_id": "id", "_labels": "label"})

#  Change float values to integer, remove leading semicolon from label

df_all_nodes3 = df_all_nodes2.assign(
   # born     = lambda x: x.born.fillna(0.0).astype(int), 
   born     = lambda x: x.born.fillna(0.0).astype(str), 
   # id       = lambda x: x.id.fillna(0.0).astype(int),
   id       = lambda x: x.id.fillna(0.0).astype(str),
   # released = lambda x: x.released.fillna(0.0).astype(int),
   released = lambda x: x.released.fillna(0.0).astype(str),
   label    = lambda x: x.label.astype(str).str[1:]
   )


print("Number of rows: %d" % (len(df_all_nodes1)) )
print("")
display(df_all_nodes3.head(5))

print("--")

Number of rows: 171

    id   label    born                name released                    tagline       title
0  0.0   Movie     0.0                 NaN   1999.0  Welcome to the Real World  The Matrix
1  1.0  Person  1964.0        Keanu Reeves      0.0                        NaN         NaN
2  2.0  Person  1967.0    Carrie-Anne Moss      0.0                        NaN         NaN
3  3.0  Person  1961.0  Laurence Fishburne      0.0                        NaN         NaN
4  4.0  Person  1960.0        Hugo Weaving      0.0                        NaN         NaN

--

# Step 02: Make specific DataFrames

In [26]:

#  Now, populate Persons and Movies

df_persons = df_all_nodes3[df_all_nodes3["label"] == "Person"][["id", "label", "born", "name"]]
   #
df_movies  = df_all_nodes3[df_all_nodes3["label"] == "Movie"][["id", "label", "released", "tagline", "title"]]


display(len(df_persons))
display(df_persons.head(5))
   #
display(len(df_movies))
display(df_movies.head(5))


print("--")

133

    id   label    born                name
1  1.0  Person  1964.0        Keanu Reeves
2  2.0  Person  1967.0    Carrie-Anne Moss
3  3.0  Person  1961.0  Laurence Fishburne
4  4.0  Person  1960.0        Hugo Weaving
5  5.0  Person  1967.0     Lilly Wachowski

38

      id  label released                                            tagline                   title
0    0.0  Movie   1999.0                          Welcome to the Real World              The Matrix
9    9.0  Movie   2003.0                                     Free your mind     The Matrix Reloaded
10  10.0  Movie   2003.0         Everything that has a beginning has an end  The Matrix Revolutions
11  11.0  Movie   1997.0                          Evil has its winning ways    The Devil's Advocate
15  15.0  Movie   1992.0  In the heart of the nation's capital, in a cou...          A Few Good Men

--

# Step 03: Same, but for edges

In [14]:

#  Load a DataFrame from CSV, Edges

l_InputFile  = "./10_N_MovieDB/25_edges.txt"

df_all_edges1 = pd.read_csv(
   l_InputFile,
   delimiter = ",",
   dtype = {
      # "_start"    : float,
      "_start"    : np.dtype('O'),
      # "_end"      : float, 
      "_end"      : np.dtype('O'),
      "_type"     : np.dtype('O'),
      # "rating"    : float,
      "rating"    : np.dtype('O'),
      "roles"     : np.dtype('O'),
      "summary"   : np.dtype('O')
      })

print("Number of rows: %d" % (len(df_all_edges1)) )
print("")
display(df_all_edges1.head(5))

print("--")

Number of rows: 253

  _start _end     _type rating            roles summary
0    1.0  0.0  ACTED_IN    NaN          ["Neo"]     NaN
1    2.0  0.0  ACTED_IN    NaN      ["Trinity"]     NaN
2    3.0  0.0  ACTED_IN    NaN     ["Morpheus"]     NaN
3    4.0  0.0  ACTED_IN    NaN  ["Agent Smith"]     NaN
4    5.0  0.0  DIRECTED    NaN              NaN     NaN

--

In [15]:

df_all_edges2 = df_all_edges1.rename(columns={"_start": "START_ID", "_end": "END_ID", "_type": "TYPE",
   "rating": "RATING", "roles": "ROLES", "summary": "SUMMARY"})

df_all_edges3 = df_all_edges2.assign(
   START_ID = lambda x: x.START_ID.fillna(0.0).astype(str), 
   END_ID   = lambda x: x.END_ID.fillna(0.0).astype(str),
   RATING   = lambda x: x.RATING.fillna(0.0).astype(str)
   )

print("Number of rows: %d" % (len(df_all_edges3)) )
print("")
display(df_all_edges3.head(5))

print("--")

Number of rows: 253

  START_ID END_ID      TYPE RATING            ROLES SUMMARY
0      1.0    0.0  ACTED_IN    0.0          ["Neo"]     NaN
1      2.0    0.0  ACTED_IN    0.0      ["Trinity"]     NaN
2      3.0    0.0  ACTED_IN    0.0     ["Morpheus"]     NaN
3      4.0    0.0  ACTED_IN    0.0  ["Agent Smith"]     NaN
4      5.0    0.0  DIRECTED    0.0              NaN     NaN

--

In [16]:

#  Split out the various edges

df_reviewed = df_all_edges3[df_all_edges3["TYPE"] == "REVIEWED"][["START_ID", "END_ID", "TYPE", "RATING", "SUMMARY"]]

df_wrote    = df_all_edges3[df_all_edges3["TYPE"] == "WROTE"   ][["START_ID", "END_ID", "TYPE"]]

df_produced = df_all_edges3[df_all_edges3["TYPE"] == "PRODUCED"][["START_ID", "END_ID", "TYPE"]]

df_directed = df_all_edges3[df_all_edges3["TYPE"] == "DIRECTED"][["START_ID", "END_ID", "TYPE"]]

df_follows  = df_all_edges3[df_all_edges3["TYPE"] == "FOLLOWS" ][["START_ID", "END_ID", "TYPE"]]

#  "roles" is a string similar to  '[ "a", "b", "c" ]'
#
#  This was automatically coming in as a list-
#
df_actedin  = df_all_edges3[df_all_edges3["TYPE"] == "ACTED_IN"][["START_ID", "END_ID", "TYPE", "ROLES"]]


display(len(df_reviewed))
display(df_reviewed.head(2))

display(len(df_wrote))
display(df_wrote.head(2))

display(len(df_produced))
display(df_produced.head(2))

display(len(df_directed))
display(df_directed.head(2))

display(len(df_follows))
display(df_follows.head(2))

display(len(df_actedin))
display(df_actedin.head(2))

print("--")

9

    START_ID END_ID      TYPE RATING             SUMMARY
244    169.0  105.0  REVIEWED   95.0  An amazing journey
245    169.0   87.0  REVIEWED   65.0      Silly, but fun

10

   START_ID END_ID   TYPE
39     28.0   15.0  WROTE
47     36.0   29.0  WROTE

15

   START_ID END_ID      TYPE
6       7.0    0.0  PRODUCED
14      7.0    9.0  PRODUCED

44

  START_ID END_ID      TYPE
4      5.0    0.0  DIRECTED
5      6.0    0.0  DIRECTED

3

    START_ID END_ID     TYPE
241    170.0  169.0  FOLLOWS
242    168.0  169.0  FOLLOWS

172

  START_ID END_ID      TYPE        ROLES
0      1.0    0.0  ACTED_IN      ["Neo"]
1      2.0    0.0  ACTED_IN  ["Trinity"]

--

#  Step 04:  Import into graph

In [ ]:


from katana_enterprise.remote import import_data

with import_data.DataFrameImporter(my_graph) as df_importer:
    
   # Person
   #
   df_importer.nodes_dataframe(
      df_persons[["id", "label", "born", "name"]],
      id_column  = "id",
      id_space   = "Person"
      )
   #  Movie
   #
   df_importer.nodes_dataframe(
      df_movies[["id", "label", "title", "tagline"]],
      id_column  = "id",
      id_space   = "Movie"
      )  
    
   #  DIRECTED
   #
   df_importer.edges_dataframe(
      df_directed[["START_ID", "END_ID", "TYPE"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "DIRECTED"
      )
   #  REVIEWED
   #
   df_importer.edges_dataframe(
      df_reviewed[["START_ID", "END_ID", "TYPE", "RATING", "SUMMARY"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "REVIEWED"
      )
   #  WROTE
   #
   df_importer.edges_dataframe(
      df_wrote[["START_ID", "END_ID", "TYPE"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "WROTE"
      )
   #  PRODUCED
   #
   df_importer.edges_dataframe(
      df_produced[["START_ID", "END_ID", "TYPE"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "PRODUCED"
      )
   #  FOLLOWS
   #
   df_importer.edges_dataframe(
      df_follows[["START_ID", "END_ID", "TYPE"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "FOLLOWS"
      )
   #  ACTEDIN
   #
   df_importer.edges_dataframe(
      df_actedin[["START_ID", "END_ID", "TYPE", "ROLES"]],
      source_id_space      = "Person",
      destination_id_space = "Movie",
      source_column        = "START_ID",
      destination_column   = "END_ID",
      type                 = "ACTEDIN"
      )

   df_importer.insert()

print("--")

/opt/conda/lib/python3.8/site-packages/katana_enterprise/remote/aio/import_data/dataframe_importer/__init__.py:303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[node_id_name] = self._normalize_id_type(dataframe[node_id_name], "id_column")

          0/? [?op/s]

#  Step 00:  Check our work ..

In [ ]:

l_result1 = my_graph.query("""

   MATCH (a) 
   WITH DISTINCT LABELS(a) AS temp, COUNT(a) AS tempCnt
   UNWIND temp AS label
   RETURN label, SUM(tempCnt) AS cnt
   ORDER BY label
   
   """)

display(print(l_result1))

In [ ]:

l_result1 = my_graph.query("""

   MATCH (m)-[r]->(n) 
   WITH DISTINCT TYPE(r) AS temp, COUNT(r) AS tempCnt
   RETURN temp, tempCnt
   ORDER BY temp

   """)

display(print(l_result1))

In [ ]:

result = my_graph.query("""

   MATCH (x) -[r]-> (a)
   RETURN x, r AS rel, a
   
   """,
   contextualize=True)

result.view()

# Output a graph as a a local file

In [ ]:

#  Formatting could use a little work, but the concept is here ..

l_result1 = my_graph.query("""
   MATCH (n: Person) 
   RETURN n
   """)
      #
# display(print(l_result1))

l_result2 = my_graph.query("""
   MATCH (n) - [r: WROTE] -> (m)
   RETURN r
   """)
      #
# display(print(l_result2))

In [ ]:

l_nodes = []
   #
for l_node in l_result1.itertuples():
   l_nodes.append(l_node)

l_file = open("nodes.txt", "w")
l_file.write(str(l_nodes))
l_file.close()


l_edges = []
   #
for l_edge in l_result2.itertuples():
   l_edges.append(l_edge)

l_file = open("edges.txt", "w")
l_file.write(str(l_edges))
l_file.close()


print("--")